<div class="col-6 col-xl-1 text-left pt-5">
    <h5 class="first-color-blue"><strong class="pe-2">Extras</strong>
        <button type="button" class="question-btn" placement="bottom"
        ngbTooltip="Aquí se incluyen aquellas actividades que complementan los servicios que ofreces.
        Estos montos se añadirán al costo del servicio en caso de que el cliente los solicite." 
        tooltipClass="my-custom-class">
        <i class="bi bi-question-circle-fill "></i>
        </button>
        <hr>
    </h5>
</div>
<div class="extras">
    <!-- extras inputs-->
    <table class="extras-table pb-5">
        <thead>
            <tr>
                <th></th>
                <th>Inicial</th>
                <th>Plus</th>
                <th>Premium</th>
            </tr>
        </thead>
        <tbody>
            <tr id="plans">
                <th>
                    <input class="extras-input" type="text" name="nameExtra" id="nameExtra"
                        placeholder="Nombre de tu extra" maxlength="30" [(ngModel)]="nameExtra"
                        (input)="sendNameExtra($event)">
                </th>
                <td data-label="Inicial">
                    <div>
                        <input class="form-check-input" type="checkbox" id="initialPlanExtra" name="initialPlanExtra"
                            [(ngModel)]="initialPlanExtra" (change)="sendInitialPlanExtra()">
                    </div>
                </td>
                <td data-label="Plus">
                    <div>
                        <input class="form-check-input" type="checkbox" id="plusPlanExtra" name="plusPlanExtra"
                            [(ngModel)]="plusPlanExtra" (change)="sendPlusPlanExtra()">
                    </div>
                </td>
                <td data-label="Premium">
                    <div>
                        <input class="form-check-input" type="checkbox" id="premiumPlanExtra" name="premiumPlanExtra"
                            [(ngModel)]="premiumPlanExtra" (change)="sendPremiumPlanExtra()">
                    </div>
                </td>
            </tr>
            <tr id="deliveryTime">
                <th>Tiempo de entrega</th>
                <td data-label="Inicial">
                    <div>
                        <input class="extras-input" type="text" name="deliveryTimeInitialPlanExtra" id="deliveryTimeInitialPlanExtra"
                            maxlength="3" [(ngModel)]="deliveryTimeInitialPlanExtra"
                            (input)="sendDeliveryTimeInitialPlanExtra($event)" [disabled]="initialPlanExtra === false">
                        <label for="deliveryTimeInitialPlanExtra" id="labelDeliveryTimeInitialPlanExtra">días hab.</label>
                    </div>
                    
                </td>
                <td data-label="Plus">
                    <div>
                        <input class="extras-input" type="text" name="deliveryTimePlusPlanExtra" id="deliveryTimePlusPlanExtra" maxlength="3"
                            [(ngModel)]="deliveryTimePlusPlanExtra" (input)="sendDeliveryTimePlusPlanExtra($event)"
                            [disabled]="plusPlanExtra === false">
                        <label for="deliveryTimePlusPlanExtra" id="labelDeliveryTimePlusPlanExtra">días hab.</label>
                    </div>
                </td>
                <td data-label="Premium">
                    <div>
                        <input class="extras-input" type="text" name="deliveryTimePremiumPlanExtra" id="deliveryTimePremiumPlanExtra"
                            maxlength="3" [(ngModel)]="deliveryTimePremiumPlanExtra"
                            (input)="sendDeliveryTimePremiumPlanExtra($event)" [disabled]="premiumPlanExtra === false">
                        <label for="deliveryTimePremiumPlanExtra" id="labelDeliveryTimePremiumPlanExtra">días hab.</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th>¿Cuánto quieres ganar por
                    este extra?<span>(en pesos mexicanos)</span>
                </th>
                <td data-label="Inicial">
                    <input class="extras-input" type="text" name="priceInitialPlanExtra" id="priceInitialPlanExtra"
                        [(ngModel)]="priceInitialPlanExtra" (input)="sendPriceInitialPlanExtra($event)"
                        (keyup)="clientPriceInitialPlanExtra()" [value]="priceInitialPlanExtra"
                        [disabled]="initialPlanExtra === false || readOnlyPriceExtra" maxlength="9">
                </td>
                <td data-label="Plus">
                    <input class="extras-input" type="text" name="pricePlusPlanExtra" id="pricePlusPlanExtra"
                        [(ngModel)]="pricePlusPlanExtra" (input)="sendPricePlusPlanExtra($event)"
                        [disabled]="plusPlanExtra === false || readOnlyPricePlusExtra"
                        (keyup)="clientPricePlusPlanExtra()" [value]="pricePlusPlanExtra" maxlength="9">
                </td>
                <td data-label="Premium">
                    <input class="extras-input" type="text" name="pricePremiumPlanExtra" id="pricePremiumPlanExtra"
                        [(ngModel)]="pricePremiumPlanExtra" (input)="sendPricePremiumPlanExtra($event)"
                        [disabled]="premiumPlanExtra === false || readOnlyPricePremiumExtra"
                        (keyup)="clientPricePremiumPlanExtra()" [value]="pricePremiumPlanExtra" maxlength="9">
                </td>
            </tr>
            <tr>
                <th>Precio que verá el cliente</th>
                <td data-label="Inicial">
                    <input class="extras-input" type="text" name="priceClientInitialPlanExtra"
                        id="priceClientInitialPlanExtra" [(ngModel)]="priceClientInitialPlanExtra"
                        (input)="sendPriceClientInitialPlanExtra($event)"
                        (keyup)="priceExtraInitialPlan()" [value]="priceClientInitialPlanExtra"
                        [disabled]="initialPlanExtra === false || readOnlyPriceClientExtra" maxlength="9">
                </td>
                <td data-label="Plus">
                    <input class="extras-input" type="text" name="priceClientPlusPlanExtra"
                        id="priceClientPlusPlanExtra" [(ngModel)]="priceClientPlusPlanExtra"
                        (input)="sendPriceClientPlusPlanExtra($event)"
                        [disabled]="plusPlanExtra === false || readOnlyPricePlusClientExtra"
                        (keyup)="priceExtraPlusPlan()" [value]="priceClientPlusPlanExtra" maxlength="9">
                </td>
                <td data-label="Premium">
                    <input class="extras-input" type="text" name="priceClientPremiumPlanExtra"
                        id="priceClientPremiumPlanExtra" [(ngModel)]="priceClientPremiumPlanExtra"
                        (input)="sendPriceClientPremiumPlanExtra($event)"
                        [disabled]="premiumPlanExtra === false || readOnlyPricePremiumClientExtra"
                        (keyup)="priceExtraPremiumPlan()" [value]="priceClientPremiumPlanExtra" maxlength="9">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="add-extra">
        <button type="button" class="btn blue-btn" (click)="saveExtraService(); clearInfo()">
            + Agregar Extra
        </button>
    </div>
    <div class="pt-5" *ngIf="extraService.length != 0">
        <h5 class="first-color-blue py-3"><strong>Extras Agregados</strong></h5>
        <div>
            <!-- extras preview -->
            <table class="extras-table bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Inicial</th>
                        <th>Plus</th>
                        <th>Premium</th>
                    </tr>
                </thead>
                <tbody  *ngFor="let extras of extraService">
                    <tr id="plans">
                        <th>
                            <input class="extras-input" type="text" id="nameExtra"
                                placeholder="Nombre de tu extra" maxlength="30" [value]="extras.nameExtra"
                                [(ngModel)]="extras.nameExtra" [name]="extras.nameExtra">
                        </th>
                        <td data-label="Inicial">
                            <div>
                                <input class="form-check-input" type="checkbox" id="initialPlanExtra"
                                [(ngModel)]="extras.initialPlanExtra">
                            </div>
                        </td>
                        <td data-label="Plus">
                            <div>
                                <input class="form-check-input" type="checkbox" id="plusPlanExtra" 
                                [(ngModel)]="extras.plusPlanExtra">
                            </div>
                        </td>
                        <td data-label="Premium">
                            <div>
                                <input class="form-check-input" type="checkbox" id="premiumPlanExtra" 
                                [(ngModel)]="extras.premiumPlanExtra">
                            </div>
                        </td>
                    </tr>
                    <tr id="deliveryTime">
                        <th>Tiempo de entrega</th>
                        <td data-label="Inicial">
                            <div>
                                <input class="extras-input" type="text" id="deliveryTimeInitialPlanExtra"
                                    maxlength="3" [value]="extras.deliveryTimeExtra" [disabled]="extras.initialPlanExtra === false">
                                <label for="deliveryTimeInitialPlanExtra" id="labelDeliveryTimeInitialPlanExtra">días hab.</label>
                            </div>
                            
                        </td>
                        <td data-label="Plus">
                            <div>
                                <input class="extras-input" type="text" id="deliveryTimePlusPlanExtra" maxlength="3"
                                    [value]="extras.deliveryTimeExtraPlus" [disabled]="extras.plusPlanExtra === false">
                                <label for="deliveryTimePlusPlanExtra" id="labelDeliveryTimePlusPlanExtra">días hab.</label>
                            </div>
                        </td>
                        <td data-label="Premium">
                            <div>
                                <input class="extras-input" type="text" id="deliveryTimePremiumPlanExtra"
                                    maxlength="3" [value]="extras.deliveryTimeExtraPremium" [disabled]="extras.premiumPlanExtra === false">
                                <label for="deliveryTimePremiumPlanExtra" id="labelDeliveryTimePremiumPlanExtra">días hab.</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>¿Cuánto quieres ganar por
                            este extra?<span>(en pesos mexicanos)</span>
                        </th>
                        <td data-label="Inicial">
                            <input class="extras-input" type="text" id="priceInitialPlanExtra"
                                (keyup)="clientPriceInitialPlanExtra()" [value]="extras.priceExtra"
                                [disabled]="extras.initialPlanExtra === false || readOnlyPriceExtra" maxlength="9">
                        </td>
                        <td data-label="Plus">
                            <input class="extras-input" type="text" id="pricePlusPlanExtra"   
                                [disabled]="extras.plusPlanExtra === false || readOnlyPricePlusExtra"
                                (keyup)="clientPricePlusPlanExtra()" [value]="extras.priceExtraPlus" maxlength="9">
                        </td>
                        <td data-label="Premium">
                            <input class="extras-input" type="text" id="pricePremiumPlanExtra"
                                [disabled]="extras.premiumPlanExtra === false || readOnlyPricePremiumExtra"
                                (keyup)="clientPricePremiumPlanExtra()" [value]="extras.priceExtraPremium" maxlength="9">
                        </td>
                    </tr>
                    <tr>
                        <th>Precio que verá el cliente</th>
                        <td data-label="Inicial">
                            <input class="extras-input" type="text" id="priceClientInitialPlanExtra" 
                                (keyup)="priceExtraInitialPlan()" [value]="extras.priceClientExtra"
                                [disabled]="extras.initialPlanExtra === false || readOnlyPriceClientExtra" maxlength="9">
                        </td>
                        <td data-label="Plus">
                            <input class="extras-input" type="text" id="priceClientPlusPlanExtra" 
                                [disabled]="extras.plusPlanExtra === false || readOnlyPricePlusClientExtra"
                                (keyup)="priceExtraPlusPlan()" [value]="extras.priceClientExtraPlus" maxlength="9">
                        </td>
                        <td data-label="Premium">
                            <input class="extras-input" type="text" id="priceClientPremiumPlanExtra" 
                                [disabled]="extras.premiumPlanExtra === false || readOnlyPricePremiumClientExtra"
                                (keyup)="priceExtraPremiumPlan()" [value]="extras.priceClientExtraPremium" maxlength="9">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="add-extra">
                                <button type="button" class="btn blue-btn" (click)="updateInfo(extras)">
                                    editar
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
