<div class="col-6 col-xl-1 text-left pt-5">
    <h5 class="first-color-blue"><strong class="pe-2">Extras</strong>
        <button type="button" class="question-btn" placement="end"
        ngbTooltip="Aquí se incluyen aquellas actividades que complementan los servicios que ofreces.
        Estos montos se añadirán al costo del servicio en caso de que el cliente los solicite." 
        tooltipClass="my-custom-class">
        <i class="bi bi-question-circle-fill "></i>
        </button>
        <hr>
    </h5>
</div>
<div class="extras p-4">
    <!-- extras preview -->
    <div class="pb-5">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Inicial</th>
                    <th>Plus</th>
                    <th>Premium</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <input class="extras-input" type="text" name="nameExtra" id="nameExtra"
                            placeholder="Ingresa el nombre de tu extra" maxlength="30"
                            [(ngModel)]="nameExtra" (input)="sendNameExtra($event)">
                    </th>
                    <td class="text-center">
                        <div>
                            <input class="form-check-input" type="checkbox" id="initialPlanExtra"
                                name="initialPlanExtra" [(ngModel)]="initialPlanExtra"
                                (input)="sendInitialPlanExtra($event)">
                        </div>
                    </td>
                    <td class="text-center">
                        <div>
                            <input class="form-check-input" type="checkbox" id="plusPlanExtra"
                                name="plusPlanExtra" [(ngModel)]="plusPlanExtra"
                                (input)="sendPlusPlanExtra($event)">
                        </div>
                    </td>
                    <td class="text-center">
                        <div>
                            <input class="form-check-input" type="checkbox" id="premiumPlanExtra"
                                name="premiumPlanExtra" [(ngModel)]="premiumPlanExtra"
                                (input)="sendPremiumPlanExtra($event)">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th data-label="deliveryTime">Tiempo de entrega</th>
                    <td data-label="deliveryTimeInitialPlanExtra">
                        <div>
                            <input type="text" name="deliveryTimeInitialPlanExtra" 
                            id="deliveryTimeInitialPlanExtra" maxlength="3"
                            [(ngModel)]="deliveryTimeInitialPlanExtra" 
                            (input)="sendDeliveryTimeInitialPlanExtra($event)"
                            [disabled]="initialPlanExtra === false">
                        </div>
                        <label for="deliveryTimeInitialPlanExtra"
                        id="labelDeliveryTimeInitialPlan">días hab.</label>
                    </td>
                    <td data-label="deliveryTimePlusPlanExtra">
                        <div>
                            <input type="text" name="deliveryTimePlusPlanExtra" 
                            id="deliveryTimePlusPlanExtra" maxlength="3"
                            [(ngModel)]="deliveryTimePlusPlanExtra" 
                            (input)="sendDeliveryTimePlusPlanExtra($event)"
                            [disabled]="plusPlanExtra === false">
                        </div>
                        <label for="deliveryTimePlusPlanExtra"
                        id="labelDeliveryTimeInitialPlan">días hab.</label>
                    </td>
                    <td data-label="deliveryTimePremiumPlanExtra">
                        <div>
                            <input type="text" name="deliveryTimePremiumPlanExtra" 
                            id="deliveryTimePremiumPlanExtra" maxlength="3"
                            [(ngModel)]="deliveryTimePremiumPlanExtra" 
                            (input)="sendDeliveryTimePremiumPlanExtra($event)"
                            [disabled]="premiumPlanExtra === false">
                        </div>
                        <label for="deliveryTimePremiumPlanExtra"
                        id="labelDeliveryTimeInitialPlan">días hab.</label>
                    </td>
                </tr>
                <tr>
                    <th>¿Cuánto quieres ganar por
                        este extra?<span>(en pesos mexicanos)</span>
                    </th>
                    <td>
                        <input class="extras-input" type="text" name="priceInitialPlanExtra" id="priceInitialPlanExtra"
                            [(ngModel)]="priceInitialPlanExtra" (input)="sendPriceInitialPlanExtra($event)"
                            (keyup)="clientPriceInitialPlanExtra()" [value]="priceInitialPlanExtra"
                            [disabled]="initialPlanExtra === false || readOnlyPriceExtra"
                            maxlength="9">
                    </td>
                    <td>
                        <input class="extras-input" type="text" name="pricePlusPlanExtra" id="pricePlusPlanExtra"
                            [(ngModel)]="pricePlusPlanExtra" (input)="sendPricePlusPlanExtra($event)"
                            [disabled]="plusPlanExtra === false || readOnlyPricePlusExtra"
                            (keyup)="clientPricePlusPlanExtra()" [value]="pricePlusPlanExtra"
                            maxlength="9">
                    </td>
                    <td>
                        <input class="extras-input" type="text" name="pricePremiumPlanExtra" id="pricePremiumPlanExtra"
                            [(ngModel)]="pricePremiumPlanExtra" (input)="sendPricePremiumPlanExtra($event)"
                            [disabled]="premiumPlanExtra === false || readOnlyPricePremiumExtra"
                            (keyup)="clientPricePremiumPlanExtra()" [value]="pricePremiumPlanExtra"
                            maxlength="9">
                    </td>
                </tr>
                <tr>
                    <th>Precio que verá el cliente</th>
                    <td>
                        <input class="extras-input" type="text" name="priceClientInitialPlanExtra" id="priceClientInitialPlanExtra"
                            [(ngModel)]="priceClientInitialPlanExtra"
                            (keyup)="priceExtraInitialPlan()" [value]="priceClientInitialPlanExtra"
                            [disabled]="initialPlanExtra === false || readOnlyPriceClientExtra"
                            maxlength="9">
                    </td>
                    <td>
                        <input class="extras-input" type="text" name="priceClientPlusPlanExtra" id="priceClientPlusPlanExtra"
                            [(ngModel)]="priceClientPlusPlanExtra"
                            [disabled]="plusPlanExtra === false || readOnlyPricePlusClientExtra"
                            (keyup)="priceExtraPlusPlan()" [value]="priceClientPlusPlanExtra"
                            maxlength="9">
                    </td>
                    <td>
                        <input class="extras-input" type="text" name="priceClientPremiumPlanExtra"
                            id="priceClientPremiumPlanExtra" [(ngModel)]="priceClientPremiumPlanExtra"
                            [disabled]="premiumPlanExtra === false || readOnlyPricePremiumClientExtra"
                            (keyup)="priceExtraPremiumPlan()" [value]="priceClientPremiumPlanExtra"
                            maxlength="9">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
