<div class="row justify-content-center col-12 bg-form">
    <div class="service-screen">
        <div class="col-xl-12">
            <div class="row pt-3 p-3">
                <!-- preview images and video for service-->
                <div class="col-xl-4">
                    <div class="card-service shadow-img">
                        <div class="card-service-header">
                            <div id="carouselServiceScreen" class="carousel slide carousel-fade" data-bs-interval="false">
                                <div class="carousel-inner">
                                  <div class="carousel-item active" *ngIf="previewVideo">
                                    <video [src]="previewVideo" controls poster="./assets/img/main/video.svg"></video>
                                  </div>
                                  <div class="carousel-item" *ngIf="previewImg">
                                    <img [src]="previewImg" alt="preview-img-service" />
                                  </div>
                                  <div class="carousel-item" *ngIf="previewImgTwo">
                                    <img [src]="previewImgTwo" alt="preview-img-service" />
                                  </div>
                                  <div class="carousel-item" *ngIf="previewImgThree">
                                    <img [src]="previewImgThree" alt="preview-img-service" />
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselServiceScreen" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Anterior</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselServiceScreen" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Siguiente</span>
                                </button>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <h5 class="first-color-blue"><strong>{{nameService}}</strong></h5>
                    <p class="second-color-blue">{{shortDescription}}</p>
                    <!-- modal to display the long description of the service -->
                    <ng-template #longContent let-modal>
                        <button type="button" class="btn modal-close position-absolute top-0 start-100"
                            aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <i class="bi bi-x-lg"></i></button>
                        <div class="modal-body">
                            <p style="white-space: pre-line">
                                {{longDescription}}
                            </p>
                        </div>
                    </ng-template>

                    <button class="btn modal-btn" (click)="openScrollableContent(longContent)">
                       <strong>Consulta más detalles del servicio</strong> 
                    </button>
                </div>
            </div>
        </div>
        <div class="p-3">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th scope="col-3"></th>
                        <th scope="col-3" id="plan" class="initial text-white align-baseline">
                            <span>Inicial</span><br>
                            {{initialPlanName}}
                        </th>
                        <th scope="col-3" id="plan" class="plus text-white align-baseline"
                            *ngIf="plusPlanName">
                            <span>Plus</span><br>
                            {{plusPlanName}}
                        </th>
                        <th scope="col-3" id="plan" class="premium text-white align-baseline"
                            *ngIf="premiumPlanName">
                            <span>Premium</span><br>
                            {{premiumPlanName}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-middle" *ngFor="let deliverable of deliverables">
                        <th id="deliverableName" scope="row">
                            {{deliverable.name}}
                        </th>
                        <td class="text-center initial text-white">
                            <div>
                                <input class="form-check-input" type="checkbox" id="checkboxDeliverableInitialPlan"
                                    [(ngModel)]="deliverable.initialPlan" aria-label="..." [disabled]="true">
                            </div>
                        </td>
                        <td class="text-center plus text-white" *ngIf="plusPlanName">
                            <div>
                                <input class="form-check-input" type="checkbox" id="checkboxDeliverablePlusPlan"
                                    [(ngModel)]="deliverable.plusPlan" aria-label="..." [disabled]="true">
                            </div>
                        </td>
                        <td class="text-center premium text-white" *ngIf="premiumPlanName">
                            <div>
                                <input class="form-check-input" type="checkbox" id="checkboxDeliverablePremiumPlan"
                                    [(ngModel)]="deliverable.premiumPlan" aria-label="..." [disabled]="true">
                            </div>
                        </td>
                    </tr>
                    <tr class="align-middle">
                        <th id="features" scope="row">Tiempo de entrega</th>
                        <td class="text-center initial text-white">
                            {{deliveryTimeInitialPlan}} <span>días hábiles</span>
                        </td>
                        <td class="text-center plus text-white" *ngIf="plusPlanName">
                            {{deliveryTimePlusPlan}} <span>días hábiles</span>
                        </td>
                        <td class="text-center premium text-white" *ngIf="premiumPlanName">
                            {{deliveryTimePremiumPlan}} <span>días hábiles</span>
                        </td>
                    </tr>
                    <tr class="align-middle">
                        <th id="features" scope="row">Comentarios</th>
                        <td class="text-center initial text-white">
                            {{commentInitialPlan}}
                        </td>
                        <td class="text-center plus text-white" *ngIf="plusPlanName">
                            {{commentPlusPlan}}
                        </td>
                        <td class="text-center premium text-white" *ngIf="premiumPlanName">
                            {{commentPremiumPlan}}
                        </td>
                    </tr>
                    <tr class="align-middle">
                        <th id="features" scope="row">Precio MXN <br><span style="font-size: 0.5rem;">(incluye IVA y
                                comisión de compra)</span></th>
                        <td class="text-center initial text-white">
                            {{priceClientInitialPlan | currency:'MNX':'$':'1.0-0'}}
                        </td>
                        <td class="text-center plus text-white" *ngIf="plusPlanName">
                            {{priceClientPlusPlan | currency:'MNX':'$':'1.0-0'}}
                        </td>
                        <td class="text-center premium text-white" *ngIf="premiumPlanName">
                            {{priceClientPremiumPlan | currency:'MNX':'$':'1.0-0'}}
                        </td>
                    </tr>
                    <tr class="align-middle" *ngFor="let extras of extraService">
                        <th id="extras" scope="row">{{extras.nameExtra}}</th>
                        <td class="text-center initial text-white" *ngIf="!extras.initialPlanExtra else extrasTemplate">
                        </td>
                        <ng-template #extrasTemplate>
                            <td class="text-center initial text-white">
                                {{extras.deliveryTimeExtra}} <span>días hábiles por </span>
                                {{extras.priceClientExtra | currency:'MNX':'$':'1.0-0'}}
                            </td>
                        </ng-template>
                        <td class="text-center plus text-white"
                            *ngIf="!extras.plusPlanExtra && plusPlanName else extrasPlusTemplate"></td>
                        <ng-template #extrasPlusTemplate>
                            <td class="text-center plus text-white" *ngIf="extras.plusPlanExtra && plusPlanName">
                                {{extras.deliveryTimeExtraPlus}} <span>días hábiles por </span>
                                {{extras.priceClientExtraPlus | currency:'MNX':'$':'1.0-0'}}
                            </td>
                        </ng-template>
                        <td class="text-center premium text-white"
                            *ngIf="!extras.premiumPlanExtra && premiumPlanName else extrasPremiumTemplate">
                        </td>
                        <ng-template #extrasPremiumTemplate>
                            <td class="text-center premium text-white" *ngIf="extras.premiumPlanExtra && premiumPlanName">
                                {{extras.deliveryTimeExtraPremium}} <span>días hábiles por </span>
                                {{extras.priceClientExtraPremium | currency:'MNX':'$':'1.0-0'}}
                            </td>
                        </ng-template>
                    </tr>
                    <tr class="align-middle">
                        <th scope="row">Contratar</th>
                        <td class="text-center initial">
                            <button type="button" class="btn buy-btn" [disabled]="true">Comprar</button>
                        </td>
                        <td class="text-center plus" *ngIf="plusPlanName">
                            <button type="button" class="btn buy-btn" [disabled]="true">Comprar</button>
                        </td>
                        <td class="text-center premium" *ngIf="premiumPlanName">
                            <button type="button" class="btn buy-btn" [disabled]="true">Comprar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center col-12">
            <div class="p-2 px-4"><button type="button" class="btn preview-btn" [disabled]="true">
                    Visita mi perfil</button></div>
            <div class="p-2 px-4"><button type="button" class="btn preview-btn" [disabled]="true">
                    ¡Contáctame!</button></div>
        </div>
        <div class="p-3">
            <ul class="list-unstyled">
                <li>
                    <input id="deliverables-included" readonly>
                    <span id="included" class="ps-2">Entregables incluidos</span>
                </li>
                <li>
                    <input id="features-included" readonly>
                    <span id="included" class="ps-2">Características</span>
                </li>
                <li>
                    <input id="extras-included" readonly>
                    <span id="included" class="ps-2">Extras</span>
                </li>
            </ul>
        </div>
    </div>
</div>
