<div class="row justify-content-center col-12 bg-form">
    <div class="service-levels">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Inicial</th>
                    <th scope="col">Plus</th>
                    <th scope="col">Premium</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Entregables</th>
                    <td>
                        <div>
                            <input class="form-check-input" type="checkbox" id="checkboxInitialPlan" value="" aria-label="...">
                        </div>   
                    </td>
                    <td>
                        <div>
                            <input class="form-check-input" type="checkbox" id="checkboxPlusPlan" value="" aria-label="...">
                        </div>  
                    </td>
                    <td>
                        <div>
                            <input class="form-check-input" type="checkbox" id="checkboxPremiumPlan" value="" aria-label="...">
                        </div>  
                    </td>
                </tr>
                <tr>
                    <th scope="row">Características</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Extras</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Contratar</th>
                    <td><button type="button" class="btn publish-btn">Comprar</button></td>
                    <td><button type="button" class="btn publish-btn">Comprar</button></td>
                    <td><button type="button" class="btn publish-btn">Comprar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>