/* customized form */
.bg-form{
    border: 1px solid #bebebe;
    box-shadow: -1px -1px 10px 4px rgba(0, 0, 0, 0.2) !important;
}

/* customized service-screen */

.service-screen input{
    border: none;
    border: 3px solid #54C8E8;
    color: #425CC7;
    outline: none;
    box-shadow: none;
}

.service-screen table{
    border: 1px solid #54C8E8;
    border-radius: 2rem;
}

.service-screen tbody, td, tfoot, th, thead, tr {
    border: 1px solid #54C8E8;
}

.service-screen th{
    color: #425CC7;
}

.initial{
    background-color: #54C8E8;
}

.plus{
    background-color: #425CC7;
}

.premium{
    background-color: #21145F;
}

.service-screen h5{
    color:#425CC7;
}

.service-screen p{
    color: #54C8E8;
    text-align: justify;
    font-size: 0.8rem;
}

/* service screen image */
.service-screen-image{
    width: 170px;
    height: auto;
    box-shadow: -1px -1px 10px 4px rgba(0, 0, 0, 0.2) !important;
}

/* custom buy button */
.buy-btn {
    border-radius: 2rem;
    --bs-btn-color: #425CC7;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #425CC7;
    --bs-btn-hover-color: #425CC7;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #425CC7;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #425CC7;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #425CC7;
    --bs-btn-active-shadow: inset 0 3px 5px #425CC7;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #425CC7;
    --bs-btn-disabled-border-color: #425CC7;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem #425CC7;
    box-shadow: none;
}