/* customized hr */
hr {
    border: 1px solid #54C8E8;
    opacity: 1;
}
 
/* customized extras-information */
.requirements{
    border: 1px solid #54C8E8;
    border-radius: 0.8rem;
}
.requirements label{
    color: #425CC7;
    font-weight: bold;
}

.requirements input{
    border: none;
    border: 3px solid #54C8E8;
    outline: none;
    box-shadow: none;
}