
<div class="col-6 col-lg-1 text-left pt-5">
    <h5 class="first-color-blue"><strong>Extras</strong>
        <hr>
    </h5>
</div>
<div class="extras p-4">
    <label for="" class="col-5 form-label">Servicio urgente</label>
    <div class="input-group mb-3">
        <div class="col-6">
            <div class="col-12">
                <div class="mb-3 row">
                    <label for="input" class="col-5 col-form-label">Tiempo de entrega</label>
                    <div class="col-7">
                        <input type="textt" class="form-control" id="input">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="input" class="col-5 col-form-label">¿Cuánto quieres ganar por
                        este extra? (en pesos mexicanos)</label>
                    <div class="col-7">
                        <input type="textt" class="form-control" id="input">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="input" class="col-5 col-form-label">Precio que verá el cliente</label>
                    <div class="col-7">
                        <input type="textt" class="form-control" id="input">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  
