
<div class="col-6 col-lg-1 text-left pt-5">
    <h5 class="first-color-blue"><strong>Extras</strong>
        <hr>
    </h5>
</div>
<div class="extras p-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Inicial</th>
                <th scope="col">Plus</th>
                <th scope="col">Premium</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Servicio urgente</th>
                <td>
                    <div>
                        <input class="form-check-input" type="checkbox" id="checkboxInitialPlan" value="" aria-label="...">
                    </div>   
                </td>
                <td>
                    <div>
                        <input class="form-check-input" type="checkbox" id="checkboxPlusPlan" value="" aria-label="...">
                    </div>  
                </td>
                <td>
                    <div>
                        <input class="form-check-input" type="checkbox" id="checkboxPremiumPlan" value="" aria-label="...">
                    </div>  
                </td>
            </tr>
            <tr>
                <th scope="row">Tiempo de entrega</th>
                <td><input class="extras-input" type="text" name="initialPlan" id="initialPlan"></td>
                <td><input class="extras-input" type="text" name="initialPlan" id="initialPlan"></td>
                <td><input class="extras-input" type="text" name="initialPlan" id="initialPlan"></td>
            </tr>
            <tr>
                <th scope="row">¿Cuánto quieres ganar por
                    este extra? (en pesos mexicanos)</th>
                <td><input class="extras-input" type="text" name="initialPlan" id="initialPlan"></td>
                <td><input class="extras-input" type="text" name="initialPlan" id="initialPlan"></td>
                <td><input class="extras-input" type="text" name="initialPlan" id="initialPlan"></td>
            </tr>
            <tr>
                <th scope="row">Precio que verá el cliente</th>
                <td><input class="extras-input" type="text" name="initialPlan" id="initialPlan"></td>
                <td><input class="extras-input" type="text" name="initialPlan" id="initialPlan"></td>
                <td><input class="extras-input" type="text" name="initialPlan" id="initialPlan"></td>
            </tr>
        </tbody>
    </table>
</div>

  
