<div class="col-6 col-xl-1 text-left pt-5">
    <h5 class="first-color-blue"><strong class="pe-2">Extras</strong>
        <button type="button" class="question-btn" placement="end"
        ngbTooltip="Aquí se incluyen aquellas actividades que complementan los servicios que ofreces.
        Estos montos se añadirán al costo del servicio en caso de que el cliente los solicite." 
        tooltipClass="my-custom-class">
        <i class="bi bi-question-circle-fill "></i>
        </button>
        <hr>
    </h5>
</div>
<div class="extras p-4">
    <!-- extras preview -->
    <div class="pb-5" *ngIf="extras.length != 0">
        <table class="table extras-preview">
            <thead>
                <tr class="text-center">
                    <th scope="col"></th>
                    <th scope="col">Inicial</th>
                    <th scope="col">Plus</th>
                    <th scope="col">Premium</th>
                </tr>
            </thead>
            <tbody *ngFor="let extras of extras">
                <tr>
                    <th scope="row" class="element">
                        <div class="elementDescription pe-3">{{extras.nameExtra}}</div>
                        <div class="elementDelete">
                            <button class="elementDelete--btn">
                                <i class="bi bi-x-circle" type="button" (click)="deleteExtra(extras)"></i>
                            </button>
                        </div>
                    </th>
                    <td class="text-center">
                        <div>
                            <input class="form-check-input" type="checkbox" id="checkboxDeliverableInitialPlan"
                                [(ngModel)]="extras.initialPlanExtra" aria-label="..." [disabled]="true">
                        </div>
                    </td>
                    <td class="text-center">
                        <div>
                            <input class="form-check-input" type="checkbox" id="checkboxDeliverablePlusPlan"
                                [(ngModel)]="extras.plusPlanExtra" aria-label="..." [disabled]="true">
                        </div>
                    </td>
                    <td class="text-center">
                        <div>
                            <input class="form-check-input" type="checkbox" id="checkboxDeliverablePremiumPlan"
                                [(ngModel)]="extras.premiumPlanExtra" aria-label="..." [disabled]="true">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Tiempo de entrega</th>
                    <td class="text-center">{{extras.deliveryTimeExtra}} <span>días hábiles</span></td>
                    <td class="text-center">{{extras.deliveryTimeExtraPlus}} <span>días hábiles</span></td>
                    <td class="text-center">{{extras.deliveryTimeExtraPremium}} <span>días hábiles</span></td>
                </tr>
                <tr>
                    <th scope="row">¿Cuánto quieres ganar por
                        este extra? <br><span>(en pesos mexicanos)</span></th>
                    <td class="text-center">{{extras.priceExtra | currency:'MNX':'$':'1.0-0'}}</td>
                    <td class="text-center">{{extras.priceExtraPlus | currency:'MNX':'$':'1.0-0'}}</td>
                    <td class="text-center">{{extras.priceExtraPremium | currency:'MNX':'$':'1.0-0'}}</td>
                </tr>
                <tr>
                    <th scope="row">Precio que verá el cliente</th>
                    <td class="text-center">{{extras.priceClientExtra | currency:'MNX':'$':'1.0-0'}}</td>
                    <td class="text-center">{{extras.priceClientExtraPlus | currency:'MNX':'$':'1.0-0'}}</td>
                    <td class="text-center">{{extras.priceClientExtraPremium | currency:'MNX':'$':'1.0-0'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- extras inputs -->
    <div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th scope="col-3"></th>
                    <th scope="col-3">Inicial</th>
                    <th scope="col-3">Plus</th>
                    <th scope="col-3">Premium</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                <tr>
                    <th scope="row">
                        <input class="extras-input" type="text" name="extraInput" id="extraInput"
                            [(ngModel)]="extraInput" placeholder="Ingresa el nombre de tu extra"
                            maxlength="30">
                    </th>
                    <td class="text-center">
                        <div>
                            <input class="form-check-input" type="checkbox" id="checkboxInitialPlanExtra"
                                name="checkboxInitialPlanExtra" [(ngModel)]="checkboxInitialPlanExtra"
                                aria-label="...">
                        </div>
                    </td>
                    <td class="text-center">
                        <div>
                            <input class="form-check-input" type="checkbox" id="checkboxPlusPlanExtra"
                                name="checkboxPlusPlanExtra" [(ngModel)]="checkboxPlusPlanExtra"
                                aria-label="...">
                        </div>
                    </td>
                    <td class="text-center">
                        <div>
                            <input class="form-check-input" type="checkbox" id="checkboxPremiumPlanExtra"
                                name="checkboxPremiumPlanExtra" [(ngModel)]="checkboxPremiumPlanExtra" value=""
                                aria-label="...">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Tiempo de entrega</th>
                    <td>
                        <div class="row mb-3">
                            <div class="col-sm-8">
                                <input type="text" name="deliveryTimeExtra" id="deliveryTimeExtra"
                                    [(ngModel)]="deliveryTimeExtra"
                                    maxlength="3">
                            </div>
                            <label for="deliveryTimeExtra" class="col-sm-4 col-form-label"
                                id="labelDeliveryTimeInitialPlan">días
                                hab.</label>
                        </div>
                    </td>
                    <td>
                        <div class="row mb-3">
                            <div class="col-sm-8">
                                <input type="text" name="deliveryTimeExtraPlus" id="deliveryTimeExtraPlus"
                                    [(ngModel)]="deliveryTimeExtraPlus"
                                    [disabled]="checkboxPlusPlanExtra === false"
                                    maxlength="3">
                            </div>
                            <label for="deliveryTimeExtraPlus" class="col-sm-4 col-form-label"
                                id="labelDeliveryTimePlusPlan">días
                                hab.</label>
                        </div>
                    </td>
                    <td>
                        <div class="row mb-3">
                            <div class="col-sm-8">
                                <input type="text" name="deliveryTimeExtraPremium" id="deliveryTimeExtraPremium"
                                    [(ngModel)]="deliveryTimeExtraPremium"
                                    [disabled]="checkboxPremiumPlanExtra === false"
                                    maxlength="3">
                            </div>
                            <label for="deliveryTimeExtraPremium" class="col-sm-4 col-form-label"
                                id="labelDeliveryTimePremiumPlan">días
                                hab.</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">¿Cuánto quieres ganar por
                        este extra?<span>(en pesos mexicanos)</span>
                    </th>
                    <td>
                        <input class="extras-input" type="text" name="priceExtra" id="priceExtra"
                            [(ngModel)]="priceExtra" (keyup)="clientPriceExtra()" [value]="priceExtra"
                            [disabled]="readOnlyPriceExtra"
                            maxlength="9">
                    </td>
                    <td>
                        <input class="extras-input" type="text" name="priceExtraPlus" id="priceExtraPlus"
                            [(ngModel)]="priceExtraPlus"
                            [disabled]="checkboxPlusPlanExtra === false || readOnlyPricePlusExtra"
                            (keyup)="clientPricePlusExtra()" [value]="priceExtraPlus"
                            maxlength="9">
                    </td>
                    <td>
                        <input class="extras-input" type="text" name="priceExtraPremium" id="priceExtraPremium"
                            [(ngModel)]="priceExtraPremium"
                            [disabled]="checkboxPremiumPlanExtra === false || readOnlyPricePremiumExtra"
                            (keyup)="clientPricePremiumExtra()" [value]="priceExtraPremium"
                            maxlength="9">
                    </td>
                </tr>
                <tr>
                    <th scope="row">Precio que verá el cliente</th>
                    <td>
                        <input class="extras-input" type="text" name="priceClientExtra" id="priceClientExtra"
                            [(ngModel)]="priceClientExtra"
                            (keyup)="priceExtraInitial()" [value]="priceClientExtra"
                            [disabled]="readOnlyPriceClientExtra"
                            maxlength="9">
                    </td>
                    <td>
                        <input class="extras-input" type="text" name="priceClientExtraPlus" id="priceClientExtraPlus"
                            [(ngModel)]="priceClientExtraPlus"
                            [disabled]="checkboxPlusPlanExtra === false || readOnlyPricePlusClientExtra"
                            (keyup)="pricePlusExtra()" [value]="priceClientExtraPlus"
                            maxlength="9">
                    </td>
                    <td>
                        <input class="extras-input" type="text" name="priceClientExtraPremium"
                            id="priceClientExtraPremium" [(ngModel)]="priceClientExtraPremium"
                            [disabled]="checkboxPremiumPlanExtra === false || readOnlyPricePremiumClientExtra"
                            (keyup)="pricePremiumExtra()" [value]="priceClientExtraPremium"
                            maxlength="9">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <button type="button" class="btn blue-btn" (click)="addExtra(); clear()">
                            + Agregar Extra
                        </button>
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>