<section id="publish-now">
    <div class="container-fluid col-12 header-space pb-5">
        <div class="row justify-content-center pb-5">
            <div class="col-6 col-lg-3 text-center">
                <h3 class="first-color-blue"><strong>¿Qué quieres publicar?</strong>
                    <hr>
                </h3>
            </div>
        </div>
        <div class="d-md-flex justify-content-center">
            <div class="card publication-card ms-4 mb-5 mb-lg-0 mb-md-0 me-4">
                <a routerLink="/publish-service">
                    <div class="card-body text-center" id="card-title">
                        <h5 class="card-title"><strong>Un servicio</strong></h5>
                        <p class="card-text">¡Ofrece soluciones!</p>
                    </div>
                </a>
                <a routerLink="/publish-service"><img src="./assets/img/publish-now/service-img.png"
                        class="card-img-bottom" alt="service-img"></a>
            </div>
            <div class="card publication-card ms-4 me-md-4">
                <a>
                    <div class="card-body text-center" id="card-title">
                        <h5 class="card-title"><strong>Un proyecto</strong></h5>
                        <p class="card-text">¡Que los expertos te den soluciones!</p>
                    </div>
                </a>
                <a><img src="./assets/img/publish-now/project-img.png" class="card-img-bottom" alt="project-img"></a>
            </div>
        </div>
    </div>
</section>
