<footer>
  <div class="py-lg-5 mt-lg-5 footer-container">
    <div class="container-fluid py-4 py-md-5 px-4 px-md-3 col-12 col-md-12 col-lg-12 text-left text-white">
      <div class="row">
        <div class="col-12  col-md-12 col-lg-3 mb-5 mb-md-5 text-center align-self-start">
          <a class="mx-3">
            <img src="./assets/img/logo/white-logo.png" class="img-fluid" alt="Destrabaja" width="170" height="auto">
          </a>
        </div>
        <div class="col-6  col-md-4 col-lg-2 mb-3 px-md-5">
          <h5 class="mb-4">Explora</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a routerLink="">Página principal</a></li>
            <li class="mb-2"><a routerLink="">Lo más popular</a></li>
            <li class="mb-2"><a routerLink="">Acerca de nosotros</a></li>
            <li class="mb-2"><a routerLink="">Bolsa de Trabajo</a></li>
          </ul>
        </div>
        <div class="col-6  col-md-4 col-lg-2 mb-3 px-md-5">
          <h5 class="mb-4">Legal</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a routerLink="">Términos y condiciones</a></li>
            <li class="mb-2"><a routerLink="">Aviso de privacidad</a></li>
          </ul>
        </div>
        <div class="col-6  col-md-4 col-lg-2 mb-3 px-md-5">
          <h5 class="mb-4">Soporte</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a routerLink="">Preguntas frecuentes</a></li>
            <li class="mb-2"><a routerLink="">Contactanos</a></li>
          </ul>
        </div>
        <div class="col-12  col-md-12 col-lg-3 mb-3 fs-3 text-center align-self-end">
          <a href="https://www.facebook.com/Destrabaja-113055501381069" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook px-2"></i></a>
          <a href="https://twitter.com/destrabaja?s=20&t=oX9i-allfnVE5Tayv9s85w" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter px-2"></i></a>
          <a href="https://www.linkedin.com/company/destrabaja/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin px-2"></i></a>
          <a href="https://www.tiktok.com/@destrabajamx" target="_blank" rel="noopener noreferrer"><i class="bi bi-tiktok px-2"></i></a>
          <a href="https://www.instagram.com/destrabaja/" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>