<!-- home slide -->
<section>
  <div id="home-slide">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <div class="slide-background">
            <div class="container-fluid col-12 col-md-12 col-lg-12">
              <div class="person-one-container d-flex align-items-center">
                <div class="row align-items-center col-12 m-0">
                  <div class="col-12 col-md-6 col-lg-6 text-white">
                    <h1 class="col-10 col-md-10 col-lg-9 offset-lg-3 display-3 center-text">
                      <strong>Trabaja desde casa</strong>
                    </h1>
                  </div>
                  <div class="col-12 col-md-6 col-lg-6 text-white text-center">
                    <img src="./assets/img/home-page/slide/person-one.png" class="img-fluid" alt="person-one">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <div class="slide-background">
            <div class="container-fluid col-12 col-md-12 col-lg-12">
              <div class="person-two-container d-flex align-items-center">
                <div class="row align-items-center col-12 m-0">
                  <div class="col-12 col-md-6 col-lg-6 text-white text-center">
                    <img src="./assets/img/home-page/slide/person-two.png" class="img-fluid" alt="person-two">
                  </div>
                  <div class="col-12 col-md-6 col-lg-6 text-white">
                    <h1 class="col-10 col-md-10 col-lg-9 offset-lg-3 display-3 center-text">
                      <strong>¡Avísale a tus cercanos!</strong>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!-- most popular categories -->
<section>
  <div class="container-fluid col-10" id="category">
    <div class="col-12 col-md-6 col-lg-6 text-left pb-4">
      <h3 class="first-color-blue"><strong>Categorías más buscadas</strong>
        <hr>
      </h3>
    </div>
    <div class="row col-12 col-md-12 col-lg-12">
      <div class="col col-md-4 col-lg pb-md-4 pb-4 d-flex align-items-center justify-content-center">
        <div class="card text-center card-category">
          <img src="./assets/img/home-page/category/graphic-design.jpg" class="card-img rounded-5" alt="graphic-design">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h5 class="card-title"><a><strong>Diseño</strong></a></h5>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-lg pb-md-4 pb-4 d-flex align-items-center justify-content-center">
        <div class="card text-center card-category">
          <img src="./assets/img/home-page/category/courses.jpg" class="card-img rounded-5" alt="courses">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h5 class="card-title"><a><strong>Clases</strong></a></h5>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-lg pb-md-4 pb-4 d-flex align-items-center justify-content-center">
        <div class="card text-center card-category">
          <img src="./assets/img/home-page/category/wellness.jpg" class="card-img rounded-5" alt="wellness">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h5 class="card-title"><a><strong>Bienestar</strong></a></h5>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-lg pb-md-4 pb-4 d-flex align-items-center justify-content-center">
        <div class="card text-center card-category">
          <img src="./assets/img/home-page/category/music.jpg" class="card-img rounded-5" alt="music">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h5 class="card-title"><a><strong>Música</strong></a></h5>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-lg pb-md-4 pb-4 d-flex align-items-center justify-content-center">
        <div class="card text-center card-category">
          <img src="./assets/img/home-page/category/web.jpg" class="card-img rounded-5" alt="web">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h5 class="card-title"><a><strong>Web</strong></a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services that might interest you -->
<section>
  <div class="container-fluid col-10 pt-5" id="interesting-services">
    <div class="col-12 col-md-6 col-lg-6 text-left pb-4">
      <h3 class="first-color-blue"><strong>Servicios que te pueden interesar</strong>
        <hr>
      </h3>
    </div>
    <div class="row col-12 col-md-12 col-lg-12">
      <div class="col col-md-4 col-lg-4 p-4slide/ pb-md-4 py-lg-4 d-flex align-items-center justify-content-center">
        <div class="card card-services position-relative">
          <div>
            <button
              class="btn like-btn position-absolute top-0 start-100 translate-middle d-flex align-items-center justify-content-center"
              type="submit">
              <img src="./assets/img/favicon/favicon-blue.png" alt="like" style="width: 30px; height: 30px">
            </button>
          </div>
          <img src="./assets/img/home-page/services/math-classes.png" class="card-img-top" alt="math-classes">
          <div class="card-body">
            <h5 class="card-title first-color-blue"><strong>Clases de diseño de logos</strong></h5>
            <p class="card-text second-color-blue">Te enseño a usar paginas web de logos gratuitas para
              que los cobres en una lana.</p>
            <div>
              <div class="row">
                <div class="col-6">
                  <p class="first-color-blue">Desde:</p>
                </div>
                <div class="col-6 text-end">
                  <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i>0.0</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-lg-4 p-4slide/ pb-md-4 py-lg-4 d-flex align-items-center justify-content-center">
        <div class="card card-services position-relative">
          <div>
            <button
              class="btn like-btn position-absolute top-0 start-100 translate-middle d-flex align-items-center justify-content-center"
              type="submit">
              <img src="./assets/img/favicon/favicon-blue.png" alt="like" style="width: 30px; height: 30px">
            </button>
          </div>
          <img src="./assets/img/home-page/services/web-engines.png" class="card-img-top" alt="math-classes">
          <div class="card-body">
            <h5 class="card-title first-color-blue"><strong>Clases motores web diesign</strong></h5>
            <p class="card-text second-color-blue">Aprende a usar los motores online para crear páginas web
              y empieza a cobrar por ello.</p>
            <div>
              <div class="row">
                <div class="col-6">
                  <p class="first-color-blue">Desde:</p>
                </div>
                <div class="col-6 text-end">
                  <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i>0.0</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-lg-4 p-4slide/ pb-md-4 py-lg-4 d-flex align-items-center justify-content-center">
        <div class="card card-services position-relative">
          <div>
            <button
              class="btn like-btn position-absolute top-0 start-100 translate-middle d-flex align-items-center justify-content-center"
              type="submit">
              <img src="./assets/img/favicon/favicon-blue.png" alt="like" style="width: 30px; height: 30px">
            </button>
          </div>
          <img src="./assets/img/home-page/services/digital-invitations.png" class="card-img-top" alt="math-classes">
          <div class="card-body">
            <h5 class="card-title first-color-blue"><strong>Invitaciones diditales</strong></h5>
            <p class="card-text second-color-blue">Aprende a hacer invitaciones en Canvas y se la envidia de
              tus vecinos.</p>
            <div>
              <div class="row">
                <div class="col-6">
                  <p class="first-color-blue">Desde:</p>
                </div>
                <div class="col-6 text-end">
                  <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i>0.0</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-lg-4 p-4slide/ pb-md-4 py-lg-4 d-flex align-items-center justify-content-center">
        <div class="card card-services position-relative">
          <div>
            <button
              class="btn like-btn position-absolute top-0 start-100 translate-middle d-flex align-items-center justify-content-center"
              type="submit">
              <img src="./assets/img/favicon/favicon-blue.png" alt="like" style="width: 30px; height: 30px">
            </button>
          </div>
          <img src="./assets/img/home-page/services/music-lessons.png" class="card-img-top" alt="math-classes">
          <div class="card-body">
            <h5 class="card-title first-color-blue"><strong>Clases de música en línea</strong></h5>
            <p class="card-text second-color-blue">Clases desde nivel básico hasta avanzado de guitarra, chelo,
              violin y bongos (como en la imagen).</p>
            <div>
              <div class="row">
                <div class="col-6">
                  <p class="first-color-blue">Desde:</p>
                </div>
                <div class="col-6 text-end">
                  <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i>0.0</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-lg-4 p-4slide/ pb-md-4 py-lg-4 d-flex align-items-center justify-content-center">
        <div class="card card-services position-relative">
          <div>
            <button
              class="btn like-btn position-absolute top-0 start-100 translate-middle d-flex align-items-center justify-content-center"
              type="submit">
              <img src="./assets/img/favicon/favicon-blue.png" alt="like" style="width: 30px; height: 30px">
            </button>
          </div>
          <img src="./assets/img/home-page/services/marketing-services.png" class="card-img-top" alt="math-classes">
          <div class="card-body">
            <h5 class="card-title first-color-blue"><strong>Campaña de marketing</strong></h5>
            <p class="card-text second-color-blue">Genero estrategias exitosas de marketing para posicionar
              tu marca en medios masivos.</p>
            <div>
              <div class="row">
                <div class="col-6">
                  <p class="first-color-blue">Desde:</p>
                </div>
                <div class="col-6 text-end">
                  <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i>0.0</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-lg-4 p-4slide/ pb-md-4 py-lg-4 d-flex align-items-center justify-content-center">
        <div class="card card-services position-relative">
          <div>
            <button
              class="btn like-btn position-absolute top-0 start-100 translate-middle d-flex align-items-center justify-content-center"
              type="submit">
              <img src="./assets/img/favicon/favicon-blue.png" alt="like" style="width: 30px; height: 30px">
            </button>
          </div>
          <img src="./assets/img/home-page/services/math-classes.png" class="card-img-top" alt="math-classes">
          <div class="card-body">
            <h5 class="card-title first-color-blue"><strong>Clases de diseño de logos</strong></h5>
            <p class="card-text second-color-blue">Doy clases para regularización de alumnos y para aquellos que
              nomas quieren pasar.</p>
            <div>
              <div class="row">
                <div class="col-6">
                  <p class="first-color-blue">Desde:</p>
                </div>
                <div class="col-6 text-end">
                  <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i>0.0</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- want to get started? -->
<section>
  <div class="get-started position-relative">
    <div class="container-fluid col-12 col-md-12 col-lg-12">
      <div class="first-bg position-relative">
        <div class="second-bg position-absolute"></div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid col-md-5 my-5 py-5 shadow-lg bg-body rounded" style="margin-top: 5rem;">
  <div class="d-grid gap-2 col-8 mx-auto">
    <button class="btn btn-outline-dark mb-2" type="button" (click)="onSingup()"><i class="bi bi-x-lg"></i>
      Cerrar Sesión</button>
  </div>
</div>