<div class="container-fluid">
  <!-- home slide -->
  <section id="home-slide">
    <div class="slide-size">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="./assets/img/home-page/slide/solutions-from-home.png" class="img-fluid" alt="solutions-from-home">
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="./assets/img/home-page/slide/close-to-you.png" class="img-fluid" alt="close-to-you">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
  <!-- most popular categories -->
  <section id="popular-categories">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-11" id="category">
        <div class="col-12 col-md-6 col-lg-6 text-left pb-4">
          <h3 class="first-color-blue"><strong>Categorías más buscadas</strong>
            <hr>
          </h3>
        </div>
        <div class="row col-12 col-md-12 col-lg-12">
          <div class="col-6 col-md-4 col-lg pb-md-4 pb-4 d-flex align-items-center justify-content-center">
            <div class="card text-center card-category shadow-lg">
              <img src="./assets/img/home-page/category/graphic-design.png" class="img-fluid img-card-category"
                alt="graphic-design">
              <div class="card-img-overlay d-flex align-items-center justify-content-center">
                <h5 class="card-title"><a><strong>Diseño</strong></a></h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg pb-md-4 pb-4 d-flex align-items-center justify-content-center">
            <div class="card text-center card-category shadow-lg">
              <img src="./assets/img/home-page/category/courses.png" class="img-fluid img-card-category" alt="courses">
              <div class="card-img-overlay d-flex align-items-center justify-content-center">
                <h5 class="card-title"><a><strong>Clases</strong></a></h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg pb-md-4 pb-4 d-flex align-items-center justify-content-center">
            <div class="card text-center card-category shadow-lg">
              <img src="./assets/img/home-page/category/wellness.png" class="img-fluid img-card-category" alt="wellness">
              <div class="card-img-overlay d-flex align-items-center justify-content-center">
                <h5 class="card-title"><a><strong>Bienestar</strong></a></h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg pb-md-4 pb-4 d-flex align-items-center justify-content-center">
            <div class="card text-center card-category shadow-lg">
              <img src="./assets/img/home-page/category/music.png" class="img-fluid img-card-category" alt="music">
              <div class="card-img-overlay d-flex align-items-center justify-content-center">
                <h5 class="card-title"><a><strong>Música</strong></a></h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg pb-md-4 pb-4 d-flex align-items-center justify-content-center">
            <div class="card text-center card-category shadow-lg">
              <img src="./assets/img/home-page/category/web.png" class="img-fluid img-card-category" alt="web">
              <div class="card-img-overlay d-flex align-items-center justify-content-center">
                <h5 class="card-title"><a><strong>Web</strong></a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- services that might interest you -->
  <section id="services">
    <div class="row justify-content-center" id="interesting-services">
      <div class="col-12 col-md-10 col-lg-11 pt-5">
        <div class="col-12 col-md-6 col-lg-6 text-left py-4">
          <h3 class="first-color-blue"><strong>Servicios que te pueden interesar</strong>
            <hr>
          </h3>
        </div>
        <div class="row col-12 col-md-12 col-lg-12">
          <div class="col-12 col-md-6 col-lg-4 p-4 d-flex align-items-center justify-content-center">
            <div class="card card-services position-relative shadow-lg">
              <div>
                <button
                  class="btn like-btn position-absolute top-0 start-100 translate-middle d-flex align-items-center justify-content-center"
                  type="submit">
                  <img class="like-icon" src="./assets/img/favicon/favicon-blue.png" alt="like">
                </button>
              </div>
              <img src="./assets/img/home-page/services/logo-design.png" class="card-img-top" alt="logo-design">
              <div class="card-body">
                <h5 class="card-title first-color-blue"><strong>Clases de diseño de logos</strong></h5>
                <p class="card-text second-color-blue">Te enseño a usar paginas web de logos gratuitas para
                  que los cobres en una lana.</p>
                <div>
                  <div class="row">
                    <div class="col-6">
                      <p class="first-color-blue">Desde:</p>
                    </div>
                    <div class="col-6 text-end">
                      <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i>0.0</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 p-4  d-flex align-items-center justify-content-center">
            <div class="card card-services position-relative shadow-lg">
              <div>
                <button
                  class="btn like-btn position-absolute top-0 start-100 translate-middle d-flex align-items-center justify-content-center"
                  type="submit">
                  <img class="like-icon" src="./assets/img/favicon/favicon-blue.png" alt="like">
                </button>
              </div>
              <img src="./assets/img/home-page/services/web-engines.png" class="card-img-top" alt="web-engines">
              <div class="card-body">
                <h5 class="card-title first-color-blue"><strong>Clases motores web design</strong></h5>
                <p class="card-text second-color-blue">Aprende a usar los motores online para crear páginas web
                  y empieza a cobrar por ello.</p>
                <div>
                  <div class="row">
                    <div class="col-6">
                      <p class="first-color-blue">Desde:</p>
                    </div>
                    <div class="col-6 text-end">
                      <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i>0.0</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 p-4  d-flex align-items-center justify-content-center">
            <div class="card card-services position-relative shadow-lg">
              <div>
                <button
                  class="btn like-btn position-absolute top-0 start-100 translate-middle d-flex align-items-center justify-content-center"
                  type="submit">
                  <img class="like-icon" src="./assets/img/favicon/favicon-blue.png" alt="like">
                </button>
              </div>
              <img src="./assets/img/home-page/services/digital-invitations.png" class="card-img-top" alt="digital-invitations">
              <div class="card-body">
                <h5 class="card-title first-color-blue"><strong>Invitaciones diditales</strong></h5>
                <p class="card-text second-color-blue">Aprende a hacer invitaciones en Canvas y se la envidia de
                  tus vecinos.</p>
                <div>
                  <div class="row">
                    <div class="col-6">
                      <p class="first-color-blue">Desde:</p>
                    </div>
                    <div class="col-6 text-end">
                      <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i>0.0</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 p-4  d-flex align-items-center justify-content-center">
            <div class="card card-services position-relative shadow-lg">
              <div>
                <button
                  class="btn like-btn position-absolute top-0 start-100 translate-middle d-flex align-items-center justify-content-center"
                  type="submit">
                  <img class="like-icon" src="./assets/img/favicon/favicon-blue.png" alt="like">
                </button>
              </div>
              <img src="./assets/img/home-page/services/music-lessons.png" class="card-img-top" alt="music-lessons">
              <div class="card-body">
                <h5 class="card-title first-color-blue"><strong>Clases de música en línea</strong></h5>
                <p class="card-text second-color-blue">Clases desde nivel básico hasta avanzado de guitarra, chelo,
                  violin y bongos (como en la imagen).</p>
                <div>
                  <div class="row">
                    <div class="col-6">
                      <p class="first-color-blue">Desde:</p>
                    </div>
                    <div class="col-6 text-end">
                      <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i>0.0</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 p-4  d-flex align-items-center justify-content-center">
            <div class="card card-services position-relative shadow-lg">
              <div>
                <button
                  class="btn like-btn position-absolute top-0 start-100 translate-middle d-flex align-items-center justify-content-center"
                  type="submit">
                  <img class="like-icon" src="./assets/img/favicon/favicon-blue.png" alt="like">
                </button>
              </div>
              <img src="./assets/img/home-page/services/marketing-services.png" class="card-img-top" alt="marketing-services">
              <div class="card-body">
                <h5 class="card-title first-color-blue"><strong>Campaña de marketing</strong></h5>
                <p class="card-text second-color-blue">Genero estrategias exitosas de marketing para posicionar
                  tu marca en medios masivos.</p>
                <div>
                  <div class="row">
                    <div class="col-6">
                      <p class="first-color-blue">Desde:</p>
                    </div>
                    <div class="col-6 text-end">
                      <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i>0.0</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 p-4  d-flex align-items-center justify-content-center">
            <div class="card card-services position-relative shadow-lg">
              <div>
                <button
                  class="btn like-btn position-absolute top-0 start-100 translate-middle d-flex align-items-center justify-content-center"
                  type="submit">
                  <img class="like-icon" src="./assets/img/favicon/favicon-blue.png" alt="like">
                </button>
              </div>
              <img src="./assets/img/home-page/services/math-classes.png" class="card-img-top" alt="math-classes">
              <div class="card-body">
                <h5 class="card-title first-color-blue"><strong>Clases de diseño de logos</strong></h5>
                <p class="card-text second-color-blue">Doy clases para regularización de alumnos y para aquellos que
                  nomas quieren pasar.</p>
                <div>
                  <div class="row">
                    <div class="col-6">
                      <p class="first-color-blue">Desde:</p>
                    </div>
                    <div class="col-6 text-end">
                      <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i>0.0</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- want to get started? -->
  <section>
    <div id="get-started">
      <div class="col-12 col-md-12 col-lg-12 my-5 py-lg-5">
            <img src="./assets/img/home-page/get-started/get-started.png" class="img-fluid" alt="get-started">
      </div>
    </div>
  </section>
</div>