<section class="home-background d-flex align-items-center">
    <div class="container-fluid text-center col-12 col-md-12 col-lg-12">
        <div class="person-one-container d-flex align-items-center">
            <div class="row align-items-center py-5 py-md-5 py-lg-0">
                <div class="col-12 col-md-6 col-lg-6 text-center py-5 text-container">
                  <h1 class="display-4"><strong>Trabaja desde casa</strong></h1>
                </div>
                <div class="col-12 col-md-6 col-lg-6 p-3 mb-2 text-white">
                  <img src="./assets/img/home-page/person-one.png" class="img-fluid" alt="person-one">
                </div>
              </div>           
        </div>
    </div>
</section>

<div class="container-fluid col-md-5 my-5 py-5 shadow-lg bg-body rounded">
    <div class="d-grid gap-2 col-8 mx-auto">
        <button class="btn btn-outline-dark mb-2" type="button" (click)="onSingup()"><i class="bi bi-x-lg"></i>
            Cerrar Sesión</button>
    </div>
</div>