/*slide background*/
.slide-size {
    margin-top: 6rem;
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
}

/* custom transition slide*/
.carousel-item {
    transition: transform 2s ease-in-out;
}

/* customized cards category */
.card-category{
    width: 12rem; 
    /* -webkit-filter: grayscale(70%); */
    /* filter: grayscale(70%); */
    color: #fff; 
    border-radius: 3rem;
}

.img-card-category{
    width: 12rem;
    height: 9rem;
    border-radius: 3rem;
}

/* customized cards services */
.card-services{
    width: 18rem; 
    opacity: .9 !important; 
    /* -webkit-filter: grayscale(70%); */
    /* filter: grayscale(70%); */
    border-radius: 2rem;
}

.card-img-top {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

/* custom like button */
.like-btn {
    width: 50px; 
    height:50px; 
    border-radius: 50% !important;
    --bs-btn-color: #425CC7;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: var(--bs-border-color-translucent);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #425CC7;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #425CC7;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
}

/*get started background*/
.get-started {
    margin-top: 3rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    height: 50vh;
}

.first-bg{
    background-color: #54C8E8 !important;
    height: 50vh;
    border-radius: 5rem;
}

.second-bg{
    background-color: #FFC600 !important;
    height: 50vh;
    width: 40vw;
    left: 60%;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.img-get-started{
    height: 50vh;
    width: auto;
}

/*custom shadow */
.shadow-lg {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.37) !important;
}

  



/* responsive form */

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    .center-text {
        margin: 0 10%;
    }

    /*slide background*/
    .slide-background {
        margin-top: 3rem !important;
        padding-top: 3rem !important;
        height: 85vh !important;
    }

    .person-one-container {
        height: 70vh !important;
    }

    .person-two-container {
        height: 70vh !important;
    }
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
    .center-text {
        margin: 0 10%;
    }

    /*slide background*/
    .slide-background {
        margin-top: 4rem;
        padding-top: 4rem;
        height: 50vh;
    }

    .person-one-container {
        height: 35vh;
    }

    .person-two-container {
        height: 35vh;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}