<section>
    <div id="carouselHome" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="8000">
                <img src="./assets/img/home-page/slide/slide-one.png" class="d-block w-100" alt="slide-one">
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <img src="./assets/img/home-page/slide/slide-two.png" class="d-block w-100" alt="slide-two">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>