<div class="header-space">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page">Tu perfil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Tus favoritos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Tus proyectos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Tus servicios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Tus finanzas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Referidos</a>
    </li>
  </ul>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Tu perfil
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
      aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <strong>contenido de la sección</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisl
        vitae nisl lobortis vulputate. Aliquam laoreet libero sit amet sagittis tincidunt. Etiam ut erat sit amet ligula
        aliquet suscipit eget sed enim. Quisque quis malesuada urna, sed dignissim elit. Praesent varius, dolor molestie
        dapibus convallis, erat nibh consectetur augue, sollicitudin dictum lorem nibh ut tortor. Aliquam a interdum
        mauris. Integer vulputate quam sed urna consequat posuere eget ac dui. Maecenas dictum, ipsum in scelerisque
        dictum, lacus ex pulvinar diam, ut vehicula sapien ante non tellus. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla pharetra enim quis efficitur cursus.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Tus favoritos
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <strong>contenido de la sección.</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisl
        vitae nisl lobortis vulputate. Aliquam laoreet libero sit amet sagittis tincidunt. Etiam ut erat sit amet ligula
        aliquet suscipit eget sed enim. Quisque quis malesuada urna, sed dignissim elit. Praesent varius, dolor molestie
        dapibus convallis, erat nibh consectetur augue, sollicitudin dictum lorem nibh ut tortor. Aliquam a interdum
        mauris. Integer vulputate quam sed urna consequat posuere eget ac dui. Maecenas dictum, ipsum in scelerisque
        dictum, lacus ex pulvinar diam, ut vehicula sapien ante non tellus. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla pharetra enim quis efficitur cursus. .
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseThree">
        Tus proyectos
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>contenido de la sección</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisl
        vitae nisl lobortis vulputate. Aliquam laoreet libero sit amet sagittis tincidunt. Etiam ut erat sit amet ligula
        aliquet suscipit eget sed enim. Quisque quis malesuada urna, sed dignissim elit. Praesent varius, dolor molestie
        dapibus convallis, erat nibh consectetur augue, sollicitudin dictum lorem nibh ut tortor. Aliquam a interdum
        mauris. Integer vulputate quam sed urna consequat posuere eget ac dui. Maecenas dictum, ipsum in scelerisque
        dictum, lacus ex pulvinar diam, ut vehicula sapien ante non tellus. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla pharetra enim quis efficitur cursus.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
        Tus servicios
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
      aria-labelledby="panelsStayOpen-headingFour">
      <div class="accordion-body">
        <strong>contenido de la sección</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisl
        vitae nisl lobortis vulputate. Aliquam laoreet libero sit amet sagittis tincidunt. Etiam ut erat sit amet ligula
        aliquet suscipit eget sed enim. Quisque quis malesuada urna, sed dignissim elit. Praesent varius, dolor molestie
        dapibus convallis, erat nibh consectetur augue, sollicitudin dictum lorem nibh ut tortor. Aliquam a interdum
        mauris. Integer vulputate quam sed urna consequat posuere eget ac dui. Maecenas dictum, ipsum in scelerisque
        dictum, lacus ex pulvinar diam, ut vehicula sapien ante non tellus. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla pharetra enim quis efficitur cursus.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
        Tus finanzas
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingFive">
      <div class="accordion-body">
        <strong>contenido de la sección.</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisl
        vitae nisl lobortis vulputate. Aliquam laoreet libero sit amet sagittis tincidunt. Etiam ut erat sit amet ligula
        aliquet suscipit eget sed enim. Quisque quis malesuada urna, sed dignissim elit. Praesent varius, dolor molestie
        dapibus convallis, erat nibh consectetur augue, sollicitudin dictum lorem nibh ut tortor. Aliquam a interdum
        mauris. Integer vulputate quam sed urna consequat posuere eget ac dui. Maecenas dictum, ipsum in scelerisque
        dictum, lacus ex pulvinar diam, ut vehicula sapien ante non tellus. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla pharetra enim quis efficitur cursus. .
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseSix">
        Referidos
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingSix">
      <div class="accordion-body">
        <strong>contenido de la sección</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisl
        vitae nisl lobortis vulputate. Aliquam laoreet libero sit amet sagittis tincidunt. Etiam ut erat sit amet ligula
        aliquet suscipit eget sed enim. Quisque quis malesuada urna, sed dignissim elit. Praesent varius, dolor molestie
        dapibus convallis, erat nibh consectetur augue, sollicitudin dictum lorem nibh ut tortor. Aliquam a interdum
        mauris. Integer vulputate quam sed urna consequat posuere eget ac dui. Maecenas dictum, ipsum in scelerisque
        dictum, lacus ex pulvinar diam, ut vehicula sapien ante non tellus. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla pharetra enim quis efficitur cursus.
      </div>
    </div>
  </div>
</div>