<div class="header-space">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Tu perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Tus favoritos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Tus proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Tus servicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Tus finanzas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Referidos</a>
          </li>
      </ul>
</div>
