<!-- profile tabs -->
<div class="container-fluid row justify-content-md-center col-12 header-space">
  <div class="d-flex align-items-start d-md-block d-lg-block col-12 col-md-11 col-lg-10">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
          role="tab" aria-controls="home-tab-pane" aria-selected="true">Tu perfil</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button"
          role="tab" aria-controls="profile-tab-pane" aria-selected="false">Tus favoritos</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button"
          role="tab" aria-controls="contact-tab-pane" aria-selected="false">Tus proyectos</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button"
          role="tab" aria-controls="contact-tab-pane" aria-selected="false">Tus servicios</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button"
          role="tab" aria-controls="contact-tab-pane" aria-selected="false">Tus finanzas</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button"
          role="tab" aria-controls="contact-tab-pane" aria-selected="false">Referidos</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="row pt-5">
          <div class="col-md-2">botton editar</div>
          <div class="col-md-3">foto de perfil</div>
          <div class="col-md-6 profile-container">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Campos</th>
                  <th scope="col">Datos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Usuario</th>
                  <td>bbcitobblin</td>
                </tr>
                <tr>
                  <th scope="row">Nombre</th>
                  <td>Bernardo Bautista Balbuena Benito</td>
                </tr>
                <tr>
                  <th scope="row">Nacimiento</th>
                  <td>30 de febrero de 1915</td>
                </tr>
                <tr>
                  <th scope="row">País</th>
                  <td>México</td>
                </tr>
                <tr>
                  <th scope="row">Ciudad</th>
                  <td>CDMX</td>
                </tr>
                <tr>
                  <th scope="row">Desde</th>
                  <td>Enero 2023</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 col-md-6 col-lg-12 text-left py-5">
            <h4 class="first-color-blue ps-4"><strong>Información profesional</strong></h4>
            <hr>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div>
                <label class="first-color-blue px-3" style="font-size:1.2rem;"><strong>Tu hoja de vida</strong></label>
                <i class="bi bi-question-circle-fill question-btn"></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <div>
                    <label class="first-color-blue px-3" style="font-size:1.2rem;">
                      <strong>Tu CV</strong></label>
                    <i class="bi bi-question-circle-fill question-btn"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div>
                    <label class="first-color-blue px-3" style="font-size:1.2rem;">
                      <strong>Tus muestras</strong></label>
                    <i class="bi bi-question-circle-fill question-btn"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div>
                    <label class="first-color-blue px-3" style="font-size:1.2em;">
                      <strong>Tu video CV</strong></label>
                    <i class="bi bi-question-circle-fill question-btn"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <strong>contenido de la sección</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisl
        vitae nisl lobortis vulputate. Aliquam laoreet libero sit amet sagittis tincidunt. Etiam ut erat sit amet ligula
        aliquet suscipit eget sed enim. Quisque quis malesuada urna, sed dignissim elit. Praesent varius, dolor molestie
        dapibus convallis, erat nibh consectetur augue, sollicitudin dictum lorem nibh ut tortor. Aliquam a interdum
        mauris. Integer vulputate quam sed urna consequat posuere eget ac dui. Maecenas dictum, ipsum in scelerisque
        dictum, lacus ex pulvinar diam, ut vehicula sapien ante non tellus. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla pharetra enim quis efficitur cursus.
      </div>
      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <strong>contenido de la sección</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisl
        vitae nisl lobortis vulputate. Aliquam laoreet libero sit amet sagittis tincidunt. Etiam ut erat sit amet ligula
        aliquet suscipit eget sed enim. Quisque quis malesuada urna, sed dignissim elit. Praesent varius, dolor molestie
        dapibus convallis, erat nibh consectetur augue, sollicitudin dictum lorem nibh ut tortor. Aliquam a interdum
        mauris. Integer vulputate quam sed urna consequat posuere eget ac dui. Maecenas dictum, ipsum in scelerisque
        dictum, lacus ex pulvinar diam, ut vehicula sapien ante non tellus. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla pharetra enim quis efficitur cursus.
      </div>
      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <strong>contenido de la sección</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisl
        vitae nisl lobortis vulputate. Aliquam laoreet libero sit amet sagittis tincidunt. Etiam ut erat sit amet ligula
        aliquet suscipit eget sed enim. Quisque quis malesuada urna, sed dignissim elit. Praesent varius, dolor molestie
        dapibus convallis, erat nibh consectetur augue, sollicitudin dictum lorem nibh ut tortor. Aliquam a interdum
        mauris. Integer vulputate quam sed urna consequat posuere eget ac dui. Maecenas dictum, ipsum in scelerisque
        dictum, lacus ex pulvinar diam, ut vehicula sapien ante non tellus. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla pharetra enim quis efficitur cursus.
      </div>
      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <strong>contenido de la sección</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisl
        vitae nisl lobortis vulputate. Aliquam laoreet libero sit amet sagittis tincidunt. Etiam ut erat sit amet ligula
        aliquet suscipit eget sed enim. Quisque quis malesuada urna, sed dignissim elit. Praesent varius, dolor molestie
        dapibus convallis, erat nibh consectetur augue, sollicitudin dictum lorem nibh ut tortor. Aliquam a interdum
        mauris. Integer vulputate quam sed urna consequat posuere eget ac dui. Maecenas dictum, ipsum in scelerisque
        dictum, lacus ex pulvinar diam, ut vehicula sapien ante non tellus. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla pharetra enim quis efficitur cursus.
      </div>
      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <strong>contenido de la sección</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisl
        vitae nisl lobortis vulputate. Aliquam laoreet libero sit amet sagittis tincidunt. Etiam ut erat sit amet ligula
        aliquet suscipit eget sed enim. Quisque quis malesuada urna, sed dignissim elit. Praesent varius, dolor molestie
        dapibus convallis, erat nibh consectetur augue, sollicitudin dictum lorem nibh ut tortor. Aliquam a interdum
        mauris. Integer vulputate quam sed urna consequat posuere eget ac dui. Maecenas dictum, ipsum in scelerisque
        dictum, lacus ex pulvinar diam, ut vehicula sapien ante non tellus. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla pharetra enim quis efficitur cursus.
      </div>
    </div>
  </div>
</div>