/* customized profile container */
.profile-container{
    border: 1px solid #425CC7;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.profile-container th, .profile-container td{
    color: #425CC7;
}

/* customized hr */
hr{
    border: 2px solid #54C8E8;
    opacity: 0.8;
}