/* customized hr */
hr {
    border: 1px solid #54C8E8;
    opacity: 1;
}

/* customized service-levels */

.service-levels input{
    border: none;
    border: 3px solid #54C8E8;
    color: #425CC7;
    outline: none;
    box-shadow: none;
}

.service-levels table{
    border: 1px solid #54C8E8;
    border-radius: 2rem;
}

.service-levels tbody, td, tfoot, th, thead, tr {
    border: 1px solid #54C8E8;
}

.service-levels th{
    color: #425CC7;
}

.service-levels-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #425CC7;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid #54C8E8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    outline: none;
}

#deliverableInput{
    width: 80% !important;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.service-levels #deliveryTimeInitialPlan, #deliveryTimePlusPlan, #deliveryTimePremiumPlan {
    display: block;
    width: 100%;
    height: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #425CC7;
    background-clip: padding-box;
    border: 3px solid #54C8E8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    outline:  none;
}

.service-levels #labelDeliveryTimeInitialPlan, #labelDeliveryTimePlusPlan, #labelDeliveryTimePremiumPlan{
    color: #425CC7;
}

.service-levels span{
    color: #425CC7;
    font-size: 0.8rem;
}

.service-levels label{
    color: #425CC7;
    font-weight: bold;
}

/* customized delete deliverable */

.element {
    color: #425CC7;
}

.elementDescription {
    float: left;
}

.elementDelete {
    float: left;
}

.elementDelete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
    color: #425CC7;
}

.elementDelete--btn:focus { outline: none; }
.elementDelete--btn:active { transform: translateY(2px); }

.element:hover .elementDelete--btn { display: block; }

/* custom save button */
.save-btn {
    border-radius: 2rem;
    --bs-btn-color: #fff;
    --bs-btn-bg: #425CC7;
    --bs-btn-border-color: #425CC7;
    --bs-btn-hover-color: #425CC7;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #425CC7;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #425CC7;
    --bs-btn-active-border-color: #425CC7;
    --bs-btn-active-shadow: inset 0 3px 5px #425CC7;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #425CC7;
    --bs-btn-disabled-border-color: #425CC7;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem #425CC7;
    box-shadow: none;
}

/* add deliverable btn */
.deliverable-btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    color: #425CC7;
}

/* disabled inputs */
*:disabled{
    background-color: #54C8E8 !important;
}