<section>
    <div class="container-fluid row justify-content-center col-12 col-md-12 col-lg-12 my-5 py-5">
        <div class="col-12 col-md-8 col-lg-11 p-5">
            <h2 class="col-12 col-md-12 col-lg-12 fw-bold first-color-blue px-lg-2 mx-lg-2">Completa tu registro</h2>
        </div>
        <div *ngIf="!firstPart; else secondPartTemplate">
            <form #f="ngForm" novalidate (ngSubmit)="registerFirstPart()">
                <div class="row justify-content-center">
                    <div class="row align-items-center col-12 col-md-10 col-lg-12 register">
                        <div class="row justify-content-center col-12 col-md-12 col-lg-4 mb-md-5 mb-5 mb-lg-0">
                            <div class="img-profile row align-items-center">
                                <div class="img-file">
                                    <p id="text-file">Da clic para agregar tu foto de perfil</p>
                                    <input type="file" id="profileImg" name="profileImg" [(ngModel)]='profileImg'
                                        accept="image/png, image/jpeg">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 row justify-content-center">
                            <div class="col-10 col-md-12 col-lg-10 form-floating mb-3">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Nombre"
                                    [(ngModel)]='name' required>
                                <label for="name">Nombre(s)</label>
                            </div>
                            <div class="col-10 col-md-12 col-lg-10 form-floating mb-3">
                                <input type="text" class="form-control" name="fathersLastName" id="fathersLastName"
                                    placeholder="Apellido Paterno" [(ngModel)]='fathersLastName' required>
                                <label for="fathersLastName">Apellido Paterno</label>
                            </div>
                            <div class="col-10 col-md-12 col-lg-10 form-floating mb-3">
                                <input type="text" class="form-control" name="mothersLastName" id="mothersLastName"
                                    placeholder="Apellido Materno" [(ngModel)]='mothersLastName' required>
                                <label for="mothersLastName">Apellido Materno</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 row justify-content-center">
                            <div class="col-10 col-md-12 col-lg-10 form-floating mb-3">
                                <select class="form-select" id="gender" name="gender"  required>
                                    <option selected disabled>Género</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Prefiero no decirlo">Prefiero no decirlo</option>
                                </select>
                            </div>
                            <div class="col-10 col-md-12 col-lg-10 form-floating mb-3">
                                <label class="pb-2" for="dateBirth">Fecha de nacimiento</label>
                                <input type="date" class="form-control" name="dateBirth" id="dateBirth"
                                    placeholder="Fecha de nacimiento" [(ngModel)]='dateBirth' required>
                            </div>
                            <div class="col-5 col-md-6 col-lg-5 form-floating mb-3">
                                <select class="form-select" id="contry" name="contry"  required>
                                    <option selected disabled>País</option>
                                    <option value="méxico">...</option>
                                </select>
                            </div>
                            <div class="col-5 col-md-6 col-lg-5 form-floating mb-3">
                                <select class="form-select" id="city" name="city"  required>
                                    <option selected disabled>Ciudad</option>
                                    <option value="hidalgo">...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end col-10 col-lg-10 pt-5">
                        <button class="btn next-btn col-3 col-md-3 col-lg-1" type="submit"
                            >Siguiente</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<ng-template #secondPartTemplate>
    <div *ngIf="!secondPart; else thirdTemplate">
        <form #f="ngForm" novalidate (ngSubmit)="registerSecondPart()">
            <div class="col-10 col-md-8 col-lg-12 row justify-content-center registerCV">
                    <div class="col-10 col-md-8 col-lg-10">
                        <label class="me-3 first-color-blue fw-bold mb-3" style="font-size:1.2rem;">Redacta tu hoja de vida</label><i
                            class="bi bi-question-circle-fill question-btn"></i>
                        <div class="form-floating">
                            <textarea class="form-control" name="resumeSummary" id="resumeSummary" 
                             placeholder="Redacta de manera breve" [(ngModel)]="resumeSummary"
                             maxlength="250"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-end col-10 col-lg-10 pt-5">
                        <button class="btn next-btn col-3 col-md-3 col-lg-1" type="submit"
                            >Siguiente</button>
                    </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #thirdTemplate>
    <div>
        <form #f="ngForm" novalidate (ngSubmit)="registerThirdPart()">
        <div class="row justify-content-center">
            <div class="row col-10 col-md-8 col-lg-10 py-5">
                <div class="col col-md-4 col-lg-4">
                    <label class="me-3 first-color-blue fw-bold mb-3" style="font-size:1.2rem;">Agrega tu Video CV</label><i
                        class="bi bi-question-circle-fill question-btn"></i>
                    <div class="py-5">
                        <img src="./assets/img/user/settings/profile/video.svg" class="add-files" alt="like"
                            style="width: 300px; height: auto">
                    </div>
                    <div class="file">
                        <p id="text-file">Editar</p>
                        <input type="file" id="send-file" name="send-file" accept="video/mp4">
                    </div>
                </div>
                <div class="col col-md-4 col-lg-4">
                    <label class="me-3 first-color-blue fw-bold mb-3" style="font-size:1.2rem;">Agrega tu CV</label><i
                        class="bi bi-question-circle-fill question-btn"></i>
                    <div>
                        <div class="row justify-content-center">
                            <i class="bi bi-paperclip icon"></i>
                        </div>
                    </div>
                    <div class="file">
                        <p id="text-file">Editar</p>
                        <input type="file" id="send-file" name="send-file" accept="application/pdf">
                    </div>
                </div>
                <div class="col col-md-4 col-lg-4">
                    <label class="me-3 first-color-blue fw-bold mb-3 text-center col-lg-8" style="font-size:1.2rem;">Agrega muestras de tu
                        trabajo previo</label><i class="bi bi-question-circle-fill question-btn"></i>
                    <div>
                        <div>
                            <i class="bi bi-filetype-pdf icon"></i>
                        </div>
                    </div>
                    <div class="file">
                        <p id="text-file">Editar</p>
                        <input type="file" id="send-file" name="send-file" accept="application/pdf">
                    </div>
                </div>
            </div>
            <div class="row justify-content-end col-10 col-lg-10 pt-5">
                <button class="btn next-btn col-3 col-md-3 col-lg-1" type="submit"
                    >Siguiente</button>
            </div>
        </div>
    </form>
    </div>
</ng-template>