/* custom next button*/
.next-btn {
    --bs-btn-color: #fff;
    --bs-btn-bg: #425CC7;
    --bs-btn-border-color: #425CC7;
    --bs-btn-hover-color: #425CC7;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #425CC7;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #425CC7;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #425CC7;
    --bs-btn-disabled-border-color: #425CC7;
}

.img-profile{
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #54C8E8;
}

  /* custom browse file button */
.browse-file-btn {
    border-radius: 2rem;
    --bs-btn-color: #425CC7;
    --bs-btn-border-color: #aaaaaa;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #425CC7;
    --bs-btn-hover-border-color: #425CC7;
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #425CC7;
    --bs-btn-active-border-color: #aaaaaa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #425CC7;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
  }

  /* custom profile button */
.icon {
    color: #425CC7;
    font-size: 10rem;
  }

/* custom padding form-select */
.form-floating > .form-select {
    padding: 1rem .75rem;
}

/* input and selection field format */
.register label, .register select{
    color: #54C8E8;
}

.register option{
    color: #8f8f8f;
}
.register input, .register select{
    border: none;
    border-bottom: 2px solid #54C8E8;
    outline: none;
    box-shadow: none;
}

/* custom file input (img profile) */
.img-file p{
    text-align: center;
    color: #54C8E8;
}

.img-file{
    position: relative;
    padding: 15px;
    width: 170px;
    height: 100px;
    background-color: #fff;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.img-file input{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* custom file input */
.file p{
    text-align: center;
    color: #425CC7;
}

.file{
    position: relative;
    width: 80px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #425CC7;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.file input{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.registerCV textarea{
    border: 3px solid #54C8E8;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: 200px;
}

/* files */

.add-files{
    width: 200px !important;
    height: 160px !important;
}

/* responsive form */

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
    .logo {
        width: 60%;
        height: auto;
    }
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    .logo {
        width: 60%;
        height: auto;
    }
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
    .logo {
        width: 60%;
        height: auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .logo {
        width: 60%;
        height: auto;
    }
}