<div class="container-fluid col-12 confirm d-flex justify-content-center align-items-center">
    <div>
        <div class="col">
            <div class="pb-3 text-center">
                <h3>¡Felicidades!</h3>
                <h5>Tu servicio ha sido publicado</h5>
            </div>
            <app-publish-service-card
            [generalInfo]="generalInfo" 
            [previewImg]="previewImg"
            [previewImgTwo]="previewImgTwo" 
            [previewImgThree]="previewImgThree" 
            [previewVideo]="previewVideo"
            [serviceDescription]="serviceDescription" 
            [features]="features">
            </app-publish-service-card>
        </div>
    </div>  
</div>
