<div class="container-fluid col-12 confirm d-flex justify-content-center align-items-center">
    <div>
        <div class="col">
            <div class="pb-3 text-center">
                <h3>¡Felicidades!</h3>
                <h5>Tu servicio ha sido publicado</h5>
            </div>
            <div class="publication-star d-flex justify-content-center align-items-center">
                <img src="./assets/img/publish-now/confirmation-star.png" class="publication-img" alt="confirmation-star">
                <div class="publication-card-confirm">
                    <app-publish-service-card></app-publish-service-card>
                </div>
            </div>
        </div>
    </div>  
</div>
