<div class="container-fluid header-space">
    <div class="row justify-content-center">
        <div class="col-6">
            <i class="bi bi-bug-fill display-1 orange-color"></i>
            <h1 class="orange-color display-1"><strong>404</strong></h1>
            <p>No pudimos encontrar la página que buscas.
                Parece que buscas una página que no existe o probablemente hayamos eliminado recientemente.
                Asegurate de revisar la url o vuelve a la página principal.
            </p>
            <button class="btn btn-primary" type="button" routerLink="/home-page">Ir a la página principal</button>
        </div>
    </div>
</div>