<section>
    <div class="container-fluid col-xl-12 header-space">
        <div class="profile">
            <div class="col-xl-10 col-md-10 col-10 profile-settings">
                <div id="title-profile-settings">
                    <h2><strong>Completa tu registro</strong></h2>
                </div>
                <div *ngIf="!firstPart; else secondPartTemplate">
                    <div class="row align-items-center form-profile pt-5">
                        <div class="col-xl-3 col-md-12 center-profile-img">
                            <!-- capturing images for profile -->
                            <div class="previewFile">
                                <div *ngIf="!previewImg; else previewImgtemplate">
                                    <div class="img-ico">
                                        <p>Da clic para agregar tu foto de perfil</p>
                                    </div>
                                </div>
                                <!-- preview images for profile-->
                                <ng-template #previewImgtemplate>
                                    <div class="previewImageFile">
                                        <div class="previewImageHeader">
                                            <div *ngIf="previewImg">
                                                <img [src]="previewImg" alt="preview-profile-img" />
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <!-- buttons to add and delete file -->
                                <div class="btns-SendFile">
                                    <div class="btns-file">
                                        <div class="btn-add">
                                            <div class="sendFile">
                                                <i class="bi bi-person-plus-fill add"></i>
                                                <input type="file" class="addFile" id="profileImg" name="profileImg" 
                                                [(ngModel)]='profileImg'
                                                accept="image/*" 
                                                (input)="sendProfileImg($event)" 
                                                (change)="captureFileImg($event)">
                                            </div>
                                        </div>
                                        <div class="btn-delete">
                                            <div class="deleteFile">
                                                <i class="bi bi-person-dash-fill delete"
                                                (click)="deletePreviewImages()"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-5">
                            <div class=" form-floating mb-3">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Nombre"
                                    [(ngModel)]='name' (input)="sendName($event)" required>
                                <label for="name">Nombre(s)</label>
                            </div>
                            <div class=" form-floating mb-3">
                                <input type="text" class="form-control" name="fathersLastName" id="fathersLastName"
                                    placeholder="Apellido Paterno" [(ngModel)]='fathersLastName'
                                    (input)="sendFathersLastName($event)" required>
                                <label for="fathersLastName">Apellido Paterno</label>
                            </div>
                            <div class=" form-floating mb-3">
                                <input type="text" class="form-control" name="mothersLastName" id="mothersLastName"
                                    placeholder="Apellido Materno" [(ngModel)]='mothersLastName'
                                    (input)="sendMothersLastName($event)" required>
                                <label for="mothersLastName">Apellido Materno</label>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-5">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="gender" name="gender"
                                [(ngModel)]="gender" (input)="sendGender($event)" required>
                                    <option selected disabled>Género</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Prefiero no decirlo">Prefiero no decirlo</option>
                                </select>
                                <label for="contry">Género</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="dateBirth" name="dateBirth"
                                placeholder="Fecha de nacimiento" [(ngModel)]='dateBirth'
                                (input)="sendDateBirth($event)" required>
                                <label for="dateBirth">Fecha de nacimiento</label>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="contry" name="contry"
                                        [(ngModel)]="contry" (input)="sendContry($event)" required>
                                          <option selected disabled>País</option>
                                          <option value="1">México</option>
                                          <option value="2">Dos</option>
                                          <option value="3">Tres</option>
                                        </select>
                                        <label for="contry">País</label>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="city" name="city"
                                        [(ngModel)]="city" (input)="sendCity($event)" required>
                                          <option selected disabled>Ciudad</option>
                                          <option value="1">Hidalgo</option>
                                          <option value="2">Dos</option>
                                          <option value="3">Tres</option>
                                        </select>
                                        <label for="city">Ciudad</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-register">
                        <button type="button" class="btn next-btn"
                        (click)="registerFirstPart()">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #secondPartTemplate>
    <div *ngIf="!secondPart; else thirdTemplate">
        <div class="form-profile">
            <div class="col-xl-11 col-md-10">
                <div class="mb-3 resumesummary">
                    <label for="resumeSummary" id="label-resumeSummary" class="form-label pe-2">
                        <strong>Redacta tu hoja de vida</strong>
                    </label>
                    <button type="button" class="question-btn" placement="bottom"
                    ngbTooltip="Esto te sirve para explicar cómo tu experiencia y tu visión te ayudarán
                    a desempeñar con éxito tu trabajo. Recuerda que la carta de presentación debe ser
                    corta y concisa." 
                    tooltipClass="my-custom-class">
                    <i class="bi bi-question-circle-fill "></i>
                    </button>
                    <textarea class="form-control" id="resumeSummary"
                    [(ngModel)]="resumeSummary"
                    (input)="sendResumeSummary($event)"
                    (keyup)="resumeSummaryCount($event)"
                    maxlength="1500" required></textarea>
                </div>
            </div>
        </div>
        <!-- counting characters for short description -->
        <div class="count-characters">
            <div><span>Máximo 1500 caracteres.</span></div>
            <div #counter>
                <span>{{counterResumeSummary}} de 1500 caracteres.</span>
            </div>
        </div>
        <div class="btns-record">
            <button class="btn next-btn" type="button" (click)="backFirstPart()">
                Atrás
            </button>
            <button type="button" class="btn next-btn" (click)="registerSecondPart()">
                Siguiente
            </button>
        </div>
    </div>
</ng-template>

<ng-template #thirdTemplate>
    <div>
        <div class="row align-items-start form-profile profile-files">
            <div class="col-xl-6 col-md-12">
                <div class="mb-3 resumesummary">
                    <label for="resumeSummary" id="label-resumeSummary" class="form-label pe-2">
                        <strong>Agrega tu Video CV</strong>
                    </label>
                    <button type="button" class="question-btn" placement="bottom"
                    ngbTooltip="NOTA: El video CV no deberá pesar más de 50 Mb." 
                    tooltipClass="my-custom-class">
                    <i class="bi bi-question-circle-fill "></i>
                    </button>
                </div>
                <!-- preview video file -->
                <div>
                    <!-- capturing video for profile -->
                    <div class="previewFileVideo">
                        <div *ngIf="!url; else previewVideotemplate">
                            <div class="video-ico">
                                <p>Da clic para sleccionar tu video CV</p>
                            </div>
                        </div>
                        <!-- preview video for profile-->
                        <ng-template #previewVideotemplate>
                            <div class="previewVideoFile">
                                <div class="previewVideoHeader">
                                    <video [src]="url" *ngIf="url" controls></video>
                                </div>
                            </div>
                        </ng-template>
                        <!-- buttons to add and delete file -->
                        <div class="btns-SendVideoFile">
                            <div class="btns-video-file">
                                <div class="btn-add-video">
                                    <div class="sendVideoFile">
                                        <i class="bi bi-camera-video-fill add-video"></i>
                                        <input type="file" class="addVideoFile"  id="profileVideo" 
                                        name="profileVideo"
                                        [(ngModel)]="profileVideo" accept="video/*"
                                        (input)="sendProfileVideo($event)"
                                        (change)="onSelectFile($event)">
                                    </div>
                                </div>
                                <div class="btn-delete-video">
                                    <div class="deleteVideoFile">
                                        <i class="bi bi-camera-video-off-fill delete-video"
                                        (click)="deletePreviewVideo()"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="mb-3 text-center">
                    <label for="resumeSummaryFile" id="label-resumeSummary-file" class="form-label pe-2">
                        <strong>Agrega tu CV</strong>
                    </label>
                    <button type="button" class="question-btn" placement="bottom"
                    ngbTooltip="NOTA: El CV debe cargarse en formato PDF." 
                    tooltipClass="my-custom-class">
                    <i class="bi bi-question-circle-fill "></i>
                    </button>
                </div>
                <div class="pdf-profile">
                    <!-- preview cv file -->
                    <div>
                        <!-- capturing cv for profile -->
                        <div class="previewPdfFile">
                            <div *ngIf="!resumeSummaryFile; else previewCVtemplate">
                                <i class="bi bi-paperclip" id="clip"></i>
                                <p id="text-file">CV</p>
                            </div>
                            <!-- preview cv for profile-->
                            <ng-template #previewCVtemplate>
                                <div>
                                    <i class="bi bi-filetype-pdf" id="pdf"></i>
                                    <p id="text-pdf">Agregado</p>
                                </div>
                            </ng-template>
                            <!-- buttons to add and delete file -->
                            <div class="btns-SendPdfFile">
                                <div class="btns-pdf-file">
                                    <div class="btn-add-pdf">
                                        <div class="sendPdfFile">
                                            <i class="bi bi-file-earmark-plus-fill add-pdf"></i>
                                            <input type="file" class="addPdfFile" id="resumeSummaryFile"
                                                name="resumeSummaryFile"
                                                [(ngModel)]="resumeSummaryFile" accept="application/pdf"
                                                (input)="sendResumeSummaryFile($event)">
                                        </div>
                                    </div>
                                    <div class="btn-delete-pdf">
                                        <div class="deletePdfFile">
                                            <i class="bi bi-file-earmark-minus-fill delete-pdf"
                                            (click)="deleteResumeSummaryFile()"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="mb-3 text-center">
                    <label for="previousWork" id="label-preview-works" 
                    class="form-label">
                        <strong>Agrega muestras de tu trabajo previo</strong>
                        <span type="button" class="question-btn ps-2" placement="bottom"
                        ngbTooltip="NOTA: Las muestras de tus trabajos previos 
                        deben cargarse en formato PDF." 
                        tooltipClass="my-custom-class">
                        <i class="bi bi-question-circle-fill "></i>
                    </span>
                    </label>
                </div>
                <div class="pdf-profile">
                    <!-- preview works file -->
                    <div>
                        <!-- capturing preview work for profile -->
                        <div class="previewPdfFile">
                            <div *ngIf="!previousWork; else previewCVtemplate">
                                <i class="bi bi-paperclip" id="clip"></i>
                                <p id="text-file">Trabajo previo</p>
                            </div>
                            <!-- preview works for profile-->
                            <ng-template #previewCVtemplate>
                                <div>
                                    <i class="bi bi-filetype-pdf" id="pdf"></i>
                                    <p id="text-pdf">Agregado</p>
                                </div>
                            </ng-template>
                            <!-- buttons to add and delete file -->
                            <div class="btns-SendPdfFile">
                                <div class="btns-pdf-file">
                                    <div class="btn-add-pdf">
                                        <div class="sendPdfFile">
                                            <i class="bi bi-file-earmark-plus-fill add-pdf"></i>
                                            <input type="file" class="addPdfFile" id="previousWork"
                                            name="previousWork" accept="application/pdf"
                                            [(ngModel)]="previousWork" 
                                            (input)="sendPreviousWork($event)">
                                        </div>
                                    </div>
                                    <div class="btn-delete-pdf">
                                        <div class="deletePdfFile">
                                            <i class="bi bi-file-earmark-minus-fill delete-pdf"
                                            (click)="deletePreviousWork()"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btns-record">
            <button class="btn next-btn" type="button" (click)="backSecondPart()">
                Atrás
            </button>
            <button type="button" class="btn next-btn" (click)="registerThirdPart(); clearData()">
                Finalizar
            </button>
        </div>
    </div>
</ng-template>
