<section>
    <div class="container-fluid col-xl-12 header-space">
        <div class="profile">
            <div class="col-xl-10 col-md-10 col-10 profile-settings">
                <div id="title-profile-settings">
                    <h2><strong>Completa tu registro</strong></h2>
                </div>
                <div *ngIf="!firstPart; else secondPartTemplate">
                    <div class="row align-items-center form-profile">
                        <div class="col-xl-3 col-md-12">
                            <!-- capturing images for profile -->
                            <div class="previewFile">
                                <div *ngIf="!previewImg; else previewImgtemplate">
                                    <div class="img-ico">
                                        <p>Da clic para agregar tu foto de perfil</p>
                                    </div>
                                </div>
                                <!-- preview images for profile-->
                                <ng-template #previewImgtemplate>
                                    <div class="previewImageFile">
                                        <div class="previewImageHeader">
                                            <div *ngIf="previewImg">
                                                <img [src]="previewImg" alt="preview-profile-img" />
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <!-- buttons to add and delete file -->
                                <div class="btns-SendFile">
                                    <div class="btns-file">
                                        <div class="btn-add">
                                            <div class="sendFile">
                                                <i class="bi bi-person-plus-fill add"></i>
                                                <input type="file" class="addFile" id="profileImg" name="profileImg" 
                                                [(ngModel)]='profileImg'
                                                accept="image/*" 
                                                (input)="sendProfileImg($event)" 
                                                (change)="captureFileImg($event)">
                                            </div>
                                        </div>
                                        <div class="btn-delete">
                                            <div class="deleteFile">
                                                <i class="bi bi-person-dash-fill delete"
                                                (click)="deletePreviewImages()"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class=" form-floating mb-3">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Nombre"
                                    [(ngModel)]='name' (input)="sendName($event)" required>
                                <label for="name">Nombre(s)</label>
                            </div>
                            <div class=" form-floating mb-3">
                                <input type="text" class="form-control" name="fathersLastName" id="fathersLastName"
                                    placeholder="Apellido Paterno" [(ngModel)]='fathersLastName'
                                    (input)="sendFathersLastName($event)" required>
                                <label for="fathersLastName">Apellido Paterno</label>
                            </div>
                            <div class=" form-floating mb-3">
                                <input type="text" class="form-control" name="mothersLastName" id="mothersLastName"
                                    placeholder="Apellido Materno" [(ngModel)]='mothersLastName'
                                    (input)="sendMothersLastName($event)" required>
                                <label for="mothersLastName">Apellido Materno</label>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="gender" name="gender"
                                [(ngModel)]="gender" (input)="sendGender($event)" required>
                                    <option selected disabled>Género</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Prefiero no decirlo">Prefiero no decirlo</option>
                                </select>
                                <label for="contry">Género</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="dateBirth" name="dateBirth"
                                placeholder="Fecha de nacimiento" [(ngModel)]='dateBirth'
                                (input)="sendDateBirth($event)" required>
                                <label for="dateBirth">Fecha de nacimiento</label>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="contry" name="contry"
                                        [(ngModel)]="contry" (input)="sendContry($event)" required>
                                          <option selected disabled>País</option>
                                          <option value="1">México</option>
                                          <option value="2">Dos</option>
                                          <option value="3">Tres</option>
                                        </select>
                                        <label for="contry">País</label>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="city" name="city"
                                        [(ngModel)]="city" (input)="sendCity($event)" required>
                                          <option selected disabled>Ciudad</option>
                                          <option value="1">Hidalgo</option>
                                          <option value="2">Dos</option>
                                          <option value="3">Tres</option>
                                        </select>
                                        <label for="city">Ciudad</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-register">
                        <button type="button" class="btn next-btn"
                        (click)="registerFirstPart()">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #secondPartTemplate>
    <div *ngIf="!secondPart; else thirdTemplate">
        <form #f="ngForm" novalidate (ngSubmit)="registerSecondPart()">
            <div class="col-10 col-md-8 col-lg-12 row justify-content-center registerCV">
                <div class="col-10 col-md-12 col-lg-10">
                    <label class="me-3 first-color-blue fw-bold mb-3" style="font-size:1.2rem;">
                        Redacta tu hoja de vida
                    </label>
                    <i class="bi bi-question-circle-fill question-btn"></i>
                    <div class="form-floating">
                        <textarea class="form-control" name="resumeSummary" id="resumeSummary"
                            placeholder="Redacta de manera breve" [(ngModel)]="resumeSummary"
                            (input)="sendResumeSummary($event)"
                            maxlength="250"></textarea>
                    </div>
                </div>
                <div class="d-flex bd-highlight mb-3 col-10 col-lg-10 pt-5">
                    <div class="p-2 bd-highlight">
                        <button class="btn next-btn" type="button" (click)="backFirstPart()">Atrás</button>
                    </div>
                    <div class="ms-auto p-2 bd-highlight">
                        <button class="btn next-btn" type="submit">Siguiente</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #thirdTemplate>
    <div>
        <form #f="ngForm" novalidate (ngSubmit)="registerThirdPart()">
            <div class="row justify-content-center">
                <div class="row col-12 col-md-8 col-lg-10">
                    <div class="col-12 col-md-4 col-lg-5 pb-5 pb-lg-0">
                        <div style="height: 3.6rem;">
                            <label class="first-color-blue px-3" style="font-size:1.2rem;"><strong>Agrega tu Video
                                    CV</strong></label>
                            <i class="bi bi-question-circle-fill question-btn"></i>
                        </div>
                        <!-- capturing video for profile -->
                        <div class="previewVideoFile pb-3">
                            <div *ngIf="!url; else previewVideotemplate">
                                <div class="ps-3 pb-3">
                                    <img src="./assets/img/user/settings/profile/video.svg" class="img-fluid" alt="video-profile">
                                </div>
                            </div>
                            <!-- preview video for profile-->
                            <ng-template #previewVideotemplate>
                                <div class="previewVideoFile">
                                    <div class="previewVideoHeader">
                                        <video [src]="url" *ngIf="url" controls poster="./assets/img/main/video.svg"></video>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        <div class="justify-content-center d-flex flex-row pt-3">
                            <div class="col-12 file">
                                <p id="text-file">Editar</p>
                                <input type="file" id="profileVideo" name="profileVideo"
                                [(ngModel)]="profileVideo" accept="video/*"
                                (input)="sendProfileVideo($event)"
                                (change)="onSelectFile($event)">
                            </div>
                            <div class="ps-3">
                                <button type="button" class="btn btn-see" (click)="deletePreviewVideo()">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center col-12 col-md-4 col-lg-3 pb-5 pb-lg-0">
                        <div style="height: 3.6rem;">
                            <label class="first-color-blue px-3" style="font-size:1.2rem;"><strong>Agrega tu
                                    CV</strong></label>
                            <i class="bi bi-question-circle-fill question-btn"></i>
                        </div>
                        <div class="row justify-content-center ps-2">
                            <div class="col-6">
                                <button type="button" class="btn btn-file">
                                    <i class="bi bi-paperclip"></i>
                                </button>
                            </div>
                        </div>
                        <div class="justify-content-center d-flex flex-row">
                            <div class="col-12 file">
                                <p id="text-file">Editar</p>
                                <input type="file" id="resumeSummaryFile" name="resumeSummaryFile" accept="application/pdf"
                                [(ngModel)]="resumeSummaryFile" (input)="sendResumeSummaryFile($event)">
                            </div>
                            <div class="ps-3">
                                <button type="button" class="btn btn-see">Ver</button>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center col-12 col-md-4 col-lg-4 pb-5 pb-lg-0">
                        <div style="height: 3.6rem;">
                            <label class="first-color-blue px-3 text-center"
                                style="font-size:1.2rem; width: 15rem;"><strong>Agrega muestras de tu
                                    trabajo previo</strong></label>
                            <i class="bi bi-question-circle-fill question-btn"></i>
                        </div>
                        <div class="row justify-content-center ps-2">
                            <div class="col-6">
                                <button type="button" class="btn btn-file">
                                    <i class="bi bi-filetype-pdf"></i>
                                </button>
                            </div>
                        </div>
                        <div class="justify-content-center d-flex flex-row">
                            <div class="file">
                                <p id="text-file">Editar</p>
                                <input type="file" id="previousWork" name="previousWork" accept="application/pdf"
                                [(ngModel)]="previousWork" (input)="sendPreviousWork($event)">
                            </div>
                            <div class="ps-3">
                                <button type="button" class="btn btn-see">Ver</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex bd-highlight mb-3 col-10 col-lg-10 pt-5">
                    <div class="p-2 bd-highlight">
                        <button class="btn next-btn" type="button" (click)="backSecondPart()">Atrás</button>
                    </div>
                    <div class="ms-auto p-2 bd-highlight">
                        <button class="btn next-btn" type="submit" (click)="clearData()">Finalizar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>
