<div class="container-fluid col-12 header-space">
    <!-- information template to publish a service *ngIf="!preview; else previewTemplate" -->
    <div class="row justify-content-center pb-5" >
        <div class="col-11 pb-5">
            <div class="col-8 col-md-4 col-xl-3 text-left">
                <h3 class="first-color-blue"><strong>Publica un servicio</strong>
                    <hr>
                </h3>
            </div>
        </div>
        <div class="row justify-content-center col-11 py-5 bg-form">
            <div class="col-11 ">
                <form #publishServiceForm = "ngForm">
                    <app-general-info
                    (shareGeneralInfo)="addGeneralInfo($event)"
                    (sharePreviewImg)="addPreviewImg($event)"
                    (sharePreviewImgTwo)="addPreviewImgTwo($event)"
                    (sharePreviewImgThree)="addPreviewImgThree($event)"
                    (sharePreviewVid)="addPreviewVideo($event)"
                    ></app-general-info>
                    <app-service-description
                    (shareServiceDescription)="addServiceDescription($event)"
                    ></app-service-description>
                    <app-service-levels
                    (sharePlanName)="addPlanName($event)"
                    (shareFeatures)="addFeatures($event)"
                    (shareFeaturesPlus)="addFeaturesPlus($event)"
                    (shareFeaturesPremium)="addFeaturesPremium($event)"
                    ></app-service-levels>
                    <app-extras></app-extras>
                    <app-requirements></app-requirements>
                    <div class="d-flex flex-row-reverse bd-highlight pt-5">
                        <div class="p-2 bd-highlight">
                            <button type="button" class="btn publish-btn" [disabled]="!publishServiceForm.valid" 
                            (click)="servicePreview();">Previsualizar</button>
                        </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
    <!-- preview template to publish a service  -->
    <!-- <ng-template #previewTemplate> -->
        <div>
            <app-preview
            [generalInfo]="gnralInfo"
            [preview]="editService()"
            [previewImg]="previewImg"
            [previewImgTwo]="previewImgTwo"
            [previewImgThree]="previewImgThree"
            [previewVideo]="previewVideo"
            [serviceDescription]="serviceDescrip"
            [planName]="planNames"
            [features]="feature"
            [featuresPlus]="featurePlus"
            [featuresPremium]="featurePremium"
            ></app-preview>
        </div>
    <!--</ng-template>-->
</div>