/* customized hr */
hr {
    border: 1px solid #54C8E8;
    opacity: 1;
}

/* customized service-description */
.service-description label{
    color: #425CC7;
}

.service-description textarea{
    border: 1px solid #54C8E8;
    border-radius: 0.8rem;
}