<div class="col-6 col-lg-3 text-left pt-5">
    <h5 class="first-color-blue"><strong>Descripción de tu servicio</strong>
        <hr>
    </h5>
</div>
<div class="service-description">
    <div class="mb-3">
        <label for="shortDescription" class="form-label">Descripción corta para tu tarjeta de servicio</label>
        <textarea class="form-control" id="shortDescription" rows="3" maxlength="150" (keyup)="shortDescriptionCount($event)"></textarea>
        <div class="d-flex bd-highlight">
            <div class="p-2 bd-highlight"><span>Máximo 150 caracteres.</span></div>
            <div class="ms-auto p-2 bd-highlight" #counter><span>{{counterShortDescription}} de 150 caracteres.</span></div>
        </div>
    </div>
    <div class="mb-3">
        <label for="longDescription" class="form-label">Descripción larga para tu tarjeta de servicio (Opcional)</label>
        <textarea class="form-control" id="longDescription" rows="3" maxlength="1500" (keyup)="longDescriptionCount($event)"></textarea>
        <div class="d-flex bd-highlight">
            <div class="p-2 bd-highlight"><span>Máximo 1,500 caracteres.</span></div>
            <div class="ms-auto p-2 bd-highlight"><span>{{counterLongDescription}} de 1,500 caracteres.</span></div>
        </div>
    </div>
</div>
