/* customized hr */
hr {
    border: 1px solid #54C8E8;
    opacity: 1;
}

/* customized general-information */
.general-info{
    border: 1px solid #54C8E8;
    border-radius: 0.8rem;
}
.general-info label{
    color: #425CC7;
    font-weight: bold;
}

.general-info input{
    border: none;
    border: 3px solid #54C8E8;
    outline: none;
    box-shadow: none;
}

/* custom file input */
.file p, i{
    text-align: center;
    color: #54C8E8;
}

.file i{
    text-align: center;
    color: #54C8E8;
    font-size: 2.5rem;
}

.file{
    position: relative;
    width: 150px;
    height: 100px;
    background-color: #fff;
    border: 3px solid #54C8E8;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.file:hover{
    color: #fff;
    background: #54C8E8;
    border-color: #54C8E8;
}

.file:hover p{
    color: #fff;
}

.file:hover i{
    color: #fff;
}

.file input{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}