<div class="col-6 col-lg-3 text-left">
    <h5 class="first-color-blue"><strong>Información General</strong>
        <hr>
    </h5>
</div>
<div class="general-info p-4">
    <div class="input-group mb-3">
        <div class="col-6">
            <div class="col-12">
                <div class="mb-3 row">
                    <label for="input" class="col-5 col-form-label">Nombre de tu<br>
                        servicio</label>
                    <div class="col-7">
                        <input type="textt" class="form-control" id="input">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="input" class="col-5 col-form-label">Hashtags<br>
                        <span style="font-size: 0.7rem ;">(Palabras clave como: #Clases #Diseño)</span></label>
                    <div class="col-7">
                        <input type="textt" class="form-control" id="input">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="input-group mb-3">
                    <div class="col-6 mb-3 row">
                        <label for="input" class="col-6 col-form-label">Categoría del
                            servicio</label>
                        <div class="col-6">
                            <input type="textt" class="form-control" id="input">
                        </div>
                    </div>
                    <div class="col-6 mb-3 row">
                        <label for="input" class="col-6 col-form-label">Sub-
                            Categoría</label>
                        <div class="col-6">
                            <input type="textt" class="form-control" id="input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 row align-items-center">
            <div class="row justify-content-center">
                <label class="col-form-label text-center">Agrega contenido visual tu<br>
                    servicio</label>
                <div class="input-group mb-3">
                    <div class="row justify-content-center me-3">
                        <div class="file">
                            <i class="bi bi-camera-video-fill"></i>
                            <p id="text-file">Máximo 50 mb</p>
                            <input type="file" id="send-file" name="send-file" accept="video/*">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="file">
                            <i class="bi bi-image"></i>
                            <p id="text-file">Máximo 3 fotos</p>
                            <input type="file" id="send-file" name="send-file" accept="image/*">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>