/* customized carousel */
.text-container {
    color: #425CC7;
}

.center-text {
    margin: 0 25%;
}

.person-container {
    background-color: #425CC7 !important;
    border-radius: 60% 0 0 60%;
    -moz-border-radius: 60% 0 0 60%;
    -webkit-border-radius: 60% 0 0 60%;
}

/* custom slide */

.slide-background {
    position: relative;
    width: 100vw;
    height: 106vh;
}

.slide-front {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 106vh;
}

.slide-text {
    position: relative;
    background-color: #fff !important;
    width: 100vw;
    height: 106vh;
}

.slide-image {
    position: absolute;
    right: 0;
    background-color: #425CC7 !important;
    width: 50vw;
    height: 106vh;
    border-radius: 60% 0 0 60%;
    -moz-border-radius: 60% 0 0 60%;
    -webkit-border-radius: 60% 0 0 60%;
}

/* custom transition slide*/
.carousel-item {
    transition: transform 4s ease-in-out;
}

/* custom button signup*/
.singup {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FF4713;
    --bs-btn-border-color: #FF4713;
    --bs-btn-hover-color: #FF4713;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #FF4713;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FF4713;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FF4713;
    --bs-btn-disabled-border-color: #FF4713;
}

/* responsive form */

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
    /* custom slide */

    .slide-background {
        display: block;
        background-color: #fff !important;
        width: 100vw !important;
        height: 50vh !important;
    }

    .slide-front {
        display: block !important;
        top: 0 !important;
        width: 100vw !important;
        height: 50vh !important;
    }

    .slide-text {
        display: block !important;
        background-color: #fff !important;
        width: 100vw !important;
        height: 50vh !important;
    }

    .slide-image {
        display: block !important;
        top: 325px;
        background-color: #425CC7 !important;
        width: 100vw !important;
        height: 50vh !important;
        border-radius: 60% 0 0 60%;
        -moz-border-radius: 60% 0 0 60%;
        -webkit-border-radius: 60% 0 0 60%;
    }

    .space{
        width: auto !important;
        height: 400px !important;
    }
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    .center-text {
        margin: 0 10%;
    }
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
    .center-text {
        margin: 0 10%;
    }

    /* custom slide */

    .slide-background {
        position: relative;
        width: 100vw;
        height: 40vh;
        padding-top: 5rem;
    }

    .slide-front {
        position: absolute;
        top: -8%;
        width: 100vw;
        height: 40vh;
        padding-top: 5rem;
    }

    .slide-text {
        position: relative;
        background-color: #fff !important;
        width: 100vw;
        height: 40vh;
    }

    .slide-image {
        position: absolute;
        right: 0;
        background-color: #425CC7 !important;
        width: 50vw;
        height: 40vh;
        border-radius: 60% 0 0 60%;
        -moz-border-radius: 60% 0 0 60%;
        -webkit-border-radius: 60% 0 0 60%;
    }

    .space{
        width: auto;
        height: 100px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}