<!-- primera seccion -->
<section class="pt-md-4 pt-lg-0">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="container-fluid col-12 col-md-12 col-lg-12">
          <div class="row align-items-center py-5 py-md-5 py-lg-0">
            <div class="col-12 col-md-6 col-lg-6 py-5 text-container">
              <h1 class="col-10 col-md-10 col-lg-6 center-text"><strong>Encuentra Trabajo</strong></h1>
              <h4 class="col-10 col-md-10 col-lg-6 pt-4 center-text">Las mejores soluciones para el marketing online</h4>
              <div class="col-12 col-md-12 col-lg-12 pt-4 center-text">
                <button class="btn btn-outline-dark mb-4 singup" routerLink="/singup">Regístrate</button>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 p-3 mb-2 text-white person-container">
              <img src="./assets/img/landing-page/person-one.png" class="img-fluid" alt="person-one">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <div class="container-fluid col-12 col-md-12 col-lg-12">
          <div class="row align-items-center py-5 py-md-5 py-lg-0">
            <div class="col-12 col-md-6 col-lg-6 py-5 text-container">
              <h1 class="col-10 col-md-10 col-lg-6 center-text"><strong>Ofrece soluciones</strong></h1>
              <h4 class="col-10 col-md-10 col-lg-6 center-text pt-4">Desde diseño de logos hasta clases particulares en línea</h4>
              <div class="col-12 col-md-12 col-lg-12 pt-4 center-text">
                <button class="btn btn-outline-dark mb-4 singup" routerLink="/singup">Regístrate</button>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 p-3 mb-2 text-white person-container">
              <img src="./assets/img/landing-page/person-two.png" class="img-fluid" alt="person-one">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <div class="container-fluid col-12 col-md-12 col-lg-12">
          <div class="row align-items-center py-5 py-md-5 py-lg-0">
            <div class="col-12 col-md-6 col-lg-6 py-5 text-container">
              <h1 class="col-10 col-md-10 col-lg-6 center-text"><strong>Publica un proyecto</strong></h1>
              <h4 class="col-10 col-md-10 col-lg-6 center-text pt-4">Encuentra las personas adecuadas para cualquier trabajo</h4>
              <div class="col-12 col-md-12 col-lg-12 pt-4 center-text">
                <button class="btn btn-outline-dark mb-4 singup" routerLink="/singup">Regístrate</button>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 p-3 mb-2 text-white person-container">
              <img src="./assets/img/landing-page/person-three.png" class="img-fluid" alt="person-one">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

