<div class="container-fluid col-12 header-space">
    <div class="row justify-content-center pb-5">
        <div class="col-11">
            <div class="col-6 col-lg-3 text-left">
                <h3 class="first-color-blue pb-3"><strong>Previsualización</strong>
                    <hr>
                </h3>
            </div>
        </div>
        <div class="row justify-content-center col-11 pt-5 bg-form preview">
            <div class="col-11">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="pb-3">
                            <h3>Ícono en pantalla de inicio</h3>
                        </div>
                        <app-publish-service-card
                        [generalInfo]="generalInfo"
                        [previewImg]="previewImg"
                        [previewImgTwo]="previewImgTwo"
                        [previewImgThree]="previewImgThree"
                        [previewVideo]="previewVideo"
                        [serviceDescription]="serviceDescription"
                        [features]="features"
                        ></app-publish-service-card>
                    </div>
                    <div class="col-xl-7">
                        <div class="pb-3">
                            <h3>Pantalla de servicio</h3>
                        </div>
                        <app-service-screen
                        [generalInfo]="generalInfo"
                        [previewImg]="previewImg"
                        [previewImgTwo]="previewImgTwo"
                        [previewImgThree]="previewImgThree"
                        [previewVideo]="previewVideo"
                        [serviceDescription]="serviceDescription"
                        [planName]="planName"
                        [features]="features"
                        [featuresPlus]="featuresPlus"
                        [featuresPremium]="featuresPremium"
                        ></app-service-screen>
                    </div>
                </div>                
            </div>
            <div class="d-flex justify-content-center col-11 p-5">
                <div class="p-2 px-4"><button type="button" class="btn publish-btn" (click)="preview">Regresar y
                    editar</button></div>
                <div class="p-2 px-4"><button type="button" class="btn publish-btn" routerLink="/confirm">¡Publicar!</button></div>
            </div>
        </div>
    </div>
</div>
