<div class="mt-5">
    <div class="card services-card shadow-lg">
        <div id="carouselServiceCard" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" *ngIf="previewImg">
                    <img [src]="previewImg" class="card-img-top img-fluid d-block w-100" alt="preview-img-service">
                </div>
                <div class="carousel-item" *ngIf="previewImgTwo">
                    <img [src]="previewImgTwo" class="card-img-top img-fluid d-block w-100" alt="preview-img-service">
                </div>
                <div class="carousel-item" *ngIf="previewImgThree">
                    <img [src]="previewImgThree" class="card-img-top img-fluid d-block w-100" alt="preview-img-service">
                </div>
                <div class="carousel-item" *ngIf="previewVideo">
                    <video [src]="previewVideo" class="card-img-top img-fluid d-block w-100" controls poster="./assets/img/main/video.svg"></video>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselServiceCard" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselServiceCard" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
        <div class="card-body">
            <h5 class="card-title first-color-blue">{{generalInfo.nameService}}</h5>
            <p class="card-text second-color-blue">{{serviceDescription.shortDescription}}.</p>
        </div>
        <div class="card-body row">
            <div class="col-6">
                <p class="first-color-blue">Desde: {{features.priceClient | currency:'MNX':'$':'1.0-0'}}</p>
              </div>
              <div class="col-6 text-end">
                <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i> {{score}}</p>
            </div>
        </div>
    </div>
</div>
