/* customized cards services */
.services-card{
    width: 21.3rem;
    height: auto; 
    border-radius: 2rem;
}

.services-card h5{
    font-size: 1.2rem;
}

.services-card p{
    font-size: 0.8rem;
}


/* customize service card image  */ 

.card-img-preview {
    width: 21.3rem;
    height: 10.8rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.img-preview {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* pruebas ajuste de imagen */ 

.img-previewTwo {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}



/*custom shadow */
.shadow-lg {
    box-shadow: 0.5rem 1rem 1rem  rgba(0, 0, 0, 0.192) !important;
}