<div class="mt-5">
    <div class="card services-card">
        <img src="./assets/img/home-page/services/logo-design.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title first-color-blue">{{title}}</h5>{{gnralInfo.nameService}}
            <p class="card-text second-color-blue">{{description}}.</p>
        </div>
        <div class="card-body row">
            <div class="col-6">
                <p class="first-color-blue">Desde: {{price}}</p>
              </div>
              <div class="col-6 text-end">
                <p class="first-color-blue"><i class="bi bi-star-fill yellow-color pe-1"></i> {{score}}</p>
            </div>
        </div>
    </div>
</div>