<div class="row justify-content-center col-12 bg-form">
    <div class="project-screen">
        <div class="col-xl-12">
            <div class="row pt-3 p-3">
                <!-- preview images and video for project-->
                <div class="col-xl-3">
                    <div class="card-service shadow-img">
                        <div class="card-service-header">
                            <ngb-carousel class="carousel-fade" #carouselProjectCard>
                                <ng-template ngbSlide *ngIf="previewVideo">
                                  <div class="picsum-img-wrapper">
                                    <video [src]="previewVideo" controls poster="./assets/img/main/video.svg"></video>
                                  </div>
                                </ng-template>
                                <ng-template ngbSlide *ngIf="previewImg">
                                  <div class="picsum-img-wrapper">
                                    <img [src]="previewImg" alt="preview-img-service" />
                                  </div>
                                </ng-template>
                                <ng-template ngbSlide *ngIf="previewImgTwo">
                                  <div class="picsum-img-wrapper">
                                    <img [src]="previewImgTwo" alt="preview-img-service" />
                                  </div>
                                </ng-template>
                                <ng-template ngbSlide *ngIf="previewImgThree">
                                  <div class="picsum-img-wrapper">
                                    <img [src]="previewImgThree" alt="preview-img-service" />
                                  </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9" id="shortDescription">
                    <div class="p-3">
                        <h5 class="first-color-blue"><strong>{{nameProject}}</strong></h5>
                        <p id="description" class="second-color-blue">{{shortDescription}}</p>
                    </div>
                </div>
            </div>
            <div class="bg-form m-3" id="longDescription">
                <div class="p-3">
                    <h5 class="pb-3"><strong>Descripción completa del proyecto</strong></h5>
                    <p>
                        {{longDescription}}
                    </p>
                </div>
            </div>
            <div class="px-3">
                <div class="row">
                    <div class="col-xl-6" id="features">
                        <div class="bg-form p-3">
                            <h5><strong>Características del proyecto</strong></h5>
                            <ul>
                                <li>Presupuesto de {{budget| currency:'MNX':'$':'1.0-0'}} pesos mexicanos</li>
                                <li>Fecha de entrega esperada: {{deliveryDate | date:"dd-MM-yyyy"}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6" id="requirements">
                        <div class="bg-form p-3">
                            <h5><strong>Requisitos para participar</strong></h5>
                            <ul class="align-middle">
                                <li *ngFor="let requirements of requirementsProject">
                                    {{requirements.requirement}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center col-12 py-3">
            <div class="p-2 px-4"><button type="button" class="btn preview-btn" [disabled]="true">
                    Pregunta al cliente</button></div>
            <div class="p-2 px-4"><button type="button" class="btn preview-btn" [disabled]="true">
                    ¡Envía tu propuesta!</button></div>
        </div>
    </div>
</div>
