<div class="container-fluid pb-5">
    <div class="row pt-5">
        <div class="col-md-2">
           <div class="row justify-content-center">
            <div class="col-8">
                <button type="button" class="btn btn-edit">
                    <i class="bi bi-pencil-fill"></i>
                    Editar
                </button>
            </div>
          </div>        
        </div>
        <div class="col-md-2 me-3 row justify-content-center">
            <div>
                <img src="./assets/img/user/settings/profile/profile.jpg" class="img-profile" alt="img-profile">
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 profile-container">
                <table class="table">
                    <thead class="d-none">
                        <tr>
                            <th scope="col">Campos</th>
                            <th scope="col">Datos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Usuario</th>
                            <td>bbcitobblin</td>
                        </tr>
                        <tr>
                            <th scope="row">Nombre</th>
                            <td>Bernardo Bautista Balbuena Benito</td>
                        </tr>
                        <tr>
                            <th scope="row">Nacimiento</th>
                            <td>30 de febrero de 1915</td>
                        </tr>
                        <tr>
                            <th scope="row">País</th>
                            <td>México</td>
                        </tr>
                        <tr>
                            <th scope="row">Ciudad</th>
                            <td>CDMX</td>
                        </tr>
                        <tr>
                            <th scope="row">Desde</th>
                            <td>Enero 2023</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-12 text-left py-5">
            <h4 class="first-color-blue ps-4"><strong>Información profesional</strong></h4>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label class="first-color-blue px-3" style="font-size:1.2rem;"><strong>Tu hoja de
                            vida</strong></label>
                    <i class="bi bi-question-circle-fill question-btn"></i>
                </div>
                <div class="row align-items-center resume mt-3 ms-3">
                    <p>
                        ¡Hola soy Bernardo!<br><br>
                        Me encanta trabajar en proyectos nuevos y tengo en mi meta de vida el
                        poder crear campañas de comunicación que hagan crecer desde cero a
                        las marcas nuevas.<br><br>
                        Te invito a revisar mis muestras de trabajo para saber qué logros he
                        tenido.<br><br>
                        Me gusta la banda ms.<br><br>
                        Berny el de enmedio
                    </p>
                </div>
            </div>
            <div class="col-md-6 ps-5">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label class="first-color-blue px-3" style="font-size:1.2rem;">
                                <strong>Tu CV</strong></label>
                            <i class="bi bi-question-circle-fill question-btn"></i>
                        </div>
                        <div class="row justify-content-start mt-2 ps-2">
                            <div class="col-6">
                                <button type="button" class="btn btn-file">
                                    <i class="bi bi-filetype-pdf"></i>
                                </button>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label class="first-color-blue px-3" style="font-size:1.2rem;">
                                <strong>Tus muestras</strong></label>
                            <i class="bi bi-question-circle-fill question-btn"></i>
                        </div>
                        <div class="row justify-content-start mt-2 ps-2">
                            <div class="col-6">
                                <button type="button" class="btn btn-file">
                                    <i class="bi bi-filetype-pdf"></i>
                                </button>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 pt-5">
                        <div>
                            <label class="first-color-blue px-3" style="font-size:1.2em;">
                                <strong>Tu video CV</strong></label>
                            <i class="bi bi-question-circle-fill question-btn"></i>
                        </div>
                        <div class="mt-2 ps-3">
                            <img src="./assets/img/user/settings/profile/video.svg" class="add-files" alt="video CV"
                                style="width: 300px; height: auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>