<div class="col-6 col-lg-2 text-left pt-5">
    <h5 class="first-color-blue"><strong>Niveles de servicio</strong>
        <hr>
    </h5>
</div>
<div class="service-levels">
    <table class="table">
        <thead>
          <tr>
            <th scope="col-3">Activar Plus / Premium</th>
            <th scope="col-3">Inicial</th>
            <th scope="col-3">Plus</th>
            <th scope="col-3">Premium</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Nombre de cada plan</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Entregable 1</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">+ Agregar Entregable</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Máximo tiempo de entrega</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Comentarios (Número de<br>
                revisiones, horario de atención,<br>
                propuestas iniciales de diseño, etc.)</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">¿Cuánto quieres ganar por<br>
                venta? (en pesos mexicanos)</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Precio que verá el cliente</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>
