<!-- title service levels -->
<div class="col-6 col-xl-2 text-left pt-5">
  <h5 class="first-color-blue"><strong>Niveles de servicio</strong>
    <hr>
  </h5>
</div>
<!-- input text for service levels -->
<div class="service-levels">
  <table class="table">
    <thead>
      <tr>
        <th class="text-left" scope="col-3">Activar Plus / Premium</th>
        <th class="text-center align-baseline" scope="col-3">Inicial</th>
        <th class="text-center align-baseline" scope="col-3">
          Plus
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxPlusPlan"
            aria-label="checkboxPlusPlan" name="checkboxPlusPlan" [(ngModel)]="checkboxPlusPlan"
            (change)="clearPlusPlan()">
          </div>
        </th>
        <th class="text-center align-baseline" scope="col-3">
          Premium
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxPremiumPlan"
            aria-label="checkboxPremiumPlan" name="checkboxPremiumPlan" [(ngModel)]="checkboxPremiumPlan"
            (change)="clearPremiumPlan()">
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle">
        <th scope="row">Nombre de cada plan</th>
        <td>
          <input class="service-levels-input" type="text" name="initialPlanName" id="initialPlanName"
            placeholder="Ingresar el nombre del plan" [(ngModel)]="initialPlanName"
            maxlength="30">
        </td>
        <td>
          <input class="service-levels-input" type="text" name="plusPlanName" id="plusPlanName"
            placeholder="Ingresar el nombre del plan" [(ngModel)]="plusPlanName"
            [disabled]="checkboxPlusPlan === false"
            maxlength="30">
        </td>
        <td>
          <input class="service-levels-input" type="text" name="premiumPlanName" id="premiumPlanName"
            placeholder="Ingresar el nombre del plan" [(ngModel)]="premiumPlanName"
            [disabled]="checkboxPremiumPlan === false"
            maxlength="30">
        </td>
      </tr>
      <!-- deliverables preview -->
      <tr *ngFor="let deliverables of deliverables" class="element align-middle">
        <th scope="row">
          <div class="elementDescription pe-3">{{deliverables.name}}</div>
          <div class="elementDelete">
            <button class="elementDelete--btn">
              <i class="bi bi-x-circle" type="button" (click)="deleteDeliverable(deliverables)"></i>
            </button>
          </div>
        </th>
        <td class="text-center">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxDeliverableInitialPlan"
              [(ngModel)]="deliverables.initialPlan" aria-label="...">
          </div>
        </td>
        <td class="text-center">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxDeliverablePlusPlan"
              [(ngModel)]="deliverables.plusPlan" aria-label="..."
              [disabled]="checkboxPlusPlan === false">
          </div>
        </td>
        <td class="text-center">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxDeliverablePremiumPlan"
              [(ngModel)]="deliverables.premiumPlan" aria-label="..."
              [disabled]="checkboxPremiumPlan === false">
          </div>
        </td>
      </tr>
      <tr class="align-middle">
        <th scope="row">
          <div class="input-group">
            <input class="service-levels-input" type="text" name="deliverableInput" id="deliverableInput"
            [(ngModel)]="deliverableInput" placeholder="Ingresa el nombre de tu entregable"
            maxlength="30" (keyup)="$event.keyCode == 13 ? addDeliverable() : null">
            <button class="btn deliverable-btn">
              <i class="bi bi-plus-circle" type="button" (click)="addDeliverable();"></i>
            </button>
          </div>
        </th>
        <td class="text-center">
          <input class="form-check-input" type="checkbox" name="deliverableInputInitialPlan"
            id="deliverableInputInitialPlan" [(ngModel)]="deliverableInputInitialPlan" aria-label="...">
        </td>
        <td class="text-center">
          <input class="form-check-input" type="checkbox" name="deliverableInputPlusPlan" id="deliverableInputPlusPlan"
            [(ngModel)]="deliverableInputPlusPlan" aria-label="..."
            [disabled]="checkboxPlusPlan === false">
        </td>
        <td class="text-center">
          <input class="form-check-input" type="checkbox" name="deliverableInputPremiumPlan"
            id="deliverableInputPremiumPlan" [(ngModel)]="deliverableInputPremiumPlan" aria-label="..."
            [disabled]="checkboxPremiumPlan === false">
        </td>
      </tr>
      <tr class="align-middle">
        <th scope="row">Máximo tiempo de entrega</th>
        <td>
          <div class="row mb-3">
            <div class="col-sm-8">
              <input type="text" name="deliveryTimeInitialPlan" id="deliveryTimeInitialPlan"
                [(ngModel)]="deliveryTimeInitialPlan"
                maxlength="3">
            </div>
            <label for="deliveryTimeInitialPlan" class="col-sm-4 col-form-label" id="labelDeliveryTimeInitialPlan">días
              hab.</label>
          </div>
        </td>
        <td>
          <div class="row mb-3">
            <div class="col-sm-8">
              <input type="text" name="deliveryTimePlusPlan" id="deliveryTimePlusPlan"
                [(ngModel)]="deliveryTimePlusPlan"
                [disabled]="checkboxPlusPlan === false"
                maxlength="3">
            </div>
            <label for="deliveryTimePlusPlan" class="col-sm-4 col-form-label" id="labelDeliveryTimePlusPlan">días
              hab.</label>
          </div>
        </td>
        <td>
          <div class="row mb-3">
            <div class="col-sm-8">
              <input type="text" name="deliveryTimePremiumPlan" id="deliveryTimePremiumPlan"
                [(ngModel)]="deliveryTimePremiumPlan"
                [disabled]="checkboxPremiumPlan === false"
                maxlength="3">
            </div>
            <label for="deliveryTimePremiumPlan" class="col-sm-4 col-form-label" id="labelDeliveryTimePremiumPlan">días
              hab.</label>
          </div>
        </td>
      </tr>
      <tr class="align-middle">
        <th scope="row">Comentarios <br><span>(Número de revisiones, horario de atención,
            propuestas iniciales de diseño, etc.)</span>
        </th>
        <td>
          <input class="service-levels-input" type="text" name="commentInitialPlan" id="commentinItialPlan"
            [(ngModel)]="commentInitialPlan" placeholder="Ingresar comentarios" maxlength="60">
        </td>
        <td>
          <input class="service-levels-input" type="text" name="commentPlusPlan" id="commentPlusPlan"
            [(ngModel)]="commentPlusPlan" placeholder="Ingresar comentarios" maxlength="60"
            [disabled]="checkboxPlusPlan === false">
        </td>
        <td>
          <input class="service-levels-input" type="text" name="commentPremiumPlan" id="commentPremiumPlan"
            [(ngModel)]="commentPremiumPlan" placeholder="Ingresar comentarios" maxlength="60"
            [disabled]="checkboxPremiumPlan === false">
        </td>
      </tr>
      <tr class="align-middle">
        <th scope="row">¿Cuánto quieres ganar por
          venta?<br><span class="pe-2">(en pesos mexicanos)</span>
          <button type="button" class="question-btn" placement="end"
                  ngbTooltip="Ingresa el monto que recibirás por cada venta que realices de cada servicio. 
                  Si ingresas, por ejemplo 299 pesos, recibirás por esa venta dichos 299 pesos. Debe incluir
                  el IVA en caso de que te soliciten factura." 
                  tooltipClass="my-custom-class">
                  <i class="bi bi-question-circle-fill "></i>
          </button>
        </th>
        <td>
          <input class="service-levels-input" type="text" name="priceInitialPlan" id="priceInitialPlan"
            [(ngModel)]="priceInitialPlan" (keyup)="clientPrice()" [value]="priceInitialPlan"
            [disabled]="readOnlyPrice"
            maxlength="9">
        </td>
        <td>
          <input class="service-levels-input" type="text" name="pricePlusPlan" id="pricePlusPlan"
            [(ngModel)]="pricePlusPlan" [disabled]="checkboxPlusPlan === false || readOnlyPricePlus" 
            (keyup)="clientPricePlus()" [value]="pricePlusPlan"
            maxlength="9">
        </td>
        <td>
          <input class="service-levels-input" type="text" name="pricePremiumPlan" id="pricePremiumPlan"
            [(ngModel)]="pricePremiumPlan" [disabled]="checkboxPremiumPlan === false || readOnlyPricePremium"
            (keyup)="clientPricePremium()" [value]="pricePremiumPlan"
            maxlength="9">
        </td>
      </tr>
      <tr class="align-middle">
        <th scope="row">
          <span class="pe-2">Precio que verá el cliente</span>
          <button type="button" class="question-btn" placement="end"
                  ngbTooltip="Los clientes verán un precio que incluye: Lo que vas a ganar de la 
                  venta + comisión por uso de plataforma + comisión por transacción + 16% de IVA sobre
                  las comisiones de Destrabaja." 
                  tooltipClass="my-custom-class">
                  <i class="bi bi-question-circle-fill "></i>
          </button>
        </th>
        <td>
          <input class="service-levels-input" type="text" name="priceClientInitialPlan" id="priceClientInitialPlan"
            [(ngModel)]="priceClientInitialPlan" [value]="priceClientInitialPlan"
            (keyup)="price()"
            [disabled]="readOnlyPriceClient"
            maxlength="9">
        </td>
        <td>
          <input class="service-levels-input" type="text" name="priceClientPlusPlan" id="priceClientPlusPlan"
            [(ngModel)]="priceClientPlusPlan" [disabled]="checkboxPlusPlan === false || readOnlyPricePlusClient" 
            [value]="priceClientPlusPlan" (keyup)="pricePlus()"
            maxlength="9">
        </td>
        <td>
          <input class="service-levels-input" type="text" name="priceClientPremiumPlan" id="priceClientPremiumPlan"
            [(ngModel)]="priceClientPremiumPlan" [disabled]="checkboxPremiumPlan === false || readOnlyPricePremiumClient"
            (keyup)="pricePremium()"
            maxlength="9">
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- save data for preview -->
<div class="d-flex flex-row-reverse bd-highlight">
  <div class="p-2 bd-highlight">
    <button type="button" class="btn save-btn" (click)="shareAddPlanName(); shareAddFeatures(); 
    shareAddFeaturesPlus(); shareAddFeaturesPremium()">Guardar
    </button>
  </div>
</div>